<a href="https://colab.research.google.com/github/swamhtetg90/DAVI-CA2/blob/Ben/data_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DAVI Data Cleaning
## Group-10
## Group Member: Devendran Yoheswaran, Kaung Myat San, Swam Htet Aung
---

## Meta Data
---
### Student Profiles

> **Note:** Data is manually entered, so the values are not standardized.

| **Field Name**                            | **Description**                                                                                                                          | **Example**                |
| ----------------------------------------- | ---------------------------------------------------------------------------------------------------------------------------------------- | -------------------------- |
| **STUDENT ID**                            | Student ID is made up of three attributes: `<Course code>-<Intake No>/<Index Number of student in the intake>`                           | `1101-013/001`             |
| **GENDER**                                | Gender                                                                                                                                   | `M`, `F`                   |
| **SG CITIZEN**                            | Singapore Citizen                                                                                                                        | `Y` or blank               |
| **SG PR**                                 | Singapore Permanent Resident                                                                                                             | `Y` or blank               |
| **FOREIGNER**                             | Neither SG Citizen nor SG PR (mutually exclusive with SG CITIZEN and SG PR)                                                              | `Y` or blank               |
| **COUNTRY OF OTHER NATIONALITY**          | Country of nationality (only for SG PR or foreigner)                                                                                     | `Malaysia`, `India`, etc.  |
| **DOB**                                   | Date of Birth. Format: `DD/MM/YYYY`                                                                                                      | `04/03/1978`               |
| **HIGHEST QUALIFICATION**                 | Highest qualification attained prior to this course                                                                                      | `Certificate`, `Diploma`   |
| **NAME OF QUALIFICATION AND INSTITUTION** | Institute where the highest qualification was attained                                                                                   | As provided by participant |
| **DATE ATTAINED HIGHEST QUALIFICATION**   | Date when the qualification was awarded. Format: `DD/MM/YYYY`                                                                            | `06/11/2016`               |
| **DESIGNATION**                           | Job designation                                                                                                                          | As provided by participant |
| **COMMENCEMENT DATE**                     | Course start date. Format: `DD/MM/YYYY`                                                                                                  | `06/01/2023`               |
| **COMPLETION DATE**                       | Course end date. Blank if course is ongoing. Format: `DD/MM/YYYY`                                                                        | `06/04/2024`               |
| **FULL-TIME OR PART-TIME**                | Whether the course is Full-time or Part-time                                                                                             | `Full-Time`, `Part-Time`   |
| **COURSE FUNDING**                        | Course funding type:<br>- `Individual`<br>- `Individual - SFC` (SkillsFuture Credit)<br>- `Sponsored`<br>- `Individual - waived App Fee` | `Individual - SFC`         |
| **REGISTRATION FEE**                      | Registration fee in SGD                                                                                                                  | As entered                 |
| **PAYMENT MODE**                          | Mode of payment                                                                                                                          | `NETS`, `Giro`, `PayNow`   |
| **COURSE FEE**                            | Course fee in SGD                                                                                                                        | As entered                 |

---

### Course Codes

| **S/N**         | **Description**        | **Example**                          |
| --------------- | ---------------------- | ------------------------------------ |
| **CODE**        | Course code (4 digits) | `1101`                               |
| **COURSE NAME** | Course name            | `Diploma in Business Administration` |

---

### Semester Results

| **S/N**        | **Description**                                                                                                           | **Example**    |
| -------------- | ------------------------------------------------------------------------------------------------------------------------- | -------------- |
| **STUDENT ID** | Must match the ID in the Student Profile dataset                                                                          | `1101-013/001` |
| **PERIOD**     | Semester number<br>• Certificate: 1 semester<br>• Diploma: 3 semesters<br>• Master’s: 2 semesters (some exceptions apply) | `1`, `2`, `3`  |
| **GPA**        | GPA for the semester.<br>• Max GPA: 4<br>• Pass GPA: Certificate/Diploma = 2, Master's = 2.3                              | `3.2`          |

---

## Importing Modules
---

In [ ]:
import pandas as pd
import numpy as np

## Loading Data
---

#### Course_Code Data

In [ ]:
course_code = pd.read_excel("https://github.com/swamhtetg90/DAVI-CA2/blob/main/DAVI%20CA2%20datasets%20and%20meta%20data/Course%20Codes.xlsx?raw=true")
course_code.head()

   CODE                         COURSE NAME
0  1101  Diploma in Business Administration
1  1102       Diploma in Business Analytics
2  2101    Certificate in Digital Marketing
3  2102        Certificate in HR Management
4  2013   Certificate in Tourism Management

#### Semester Results Data

In [ ]:
semester_results = pd.read_excel("https://github.com/swamhtetg90/DAVI-CA2/blob/main/DAVI%20CA2%20datasets%20and%20meta%20data/Semester%20Results.xlsx?raw=true")
semester_results.head()

     STUDENT ID PERIOD  GPA
0  1101-009/001  Sem 1  3.5
1  1101-009/001  Sem 2  3.6
2  1101-009/001  Sem 3  3.7
3  1101-009/002  Sem 1  3.4
4  1101-009/002  Sem 2  3.5

#### Student Profiles Data

In [ ]:
student_profiles = pd.read_excel("https://github.com/swamhtetg90/DAVI-CA2/blob/main/DAVI%20CA2%20datasets%20and%20meta%20data/Student%20Profiles.xlsx?raw=true")
student_profiles.head()

,STUDENT ID,GENDER,SG CITIZEN,SG PR,FOREIGNER,COUNTRY OF OTHER NATIONALITY,DOB,HIGHEST QUALIFICATION,NAME OF QUALIFICATION AND INSTITUTION,DATE ATTAINED HIGHEST QUALIFICATION,DESIGNATION,COMMENCEMENT DATE,COMPLETION DATE,FULL-TIME OR PART-TIME,COURSE FUNDING,REGISTRATION FEE,PAYMENT MODE,COURSE FEE
0,1101-009/001,F,,NaN,Y,Malaysia,13/09/1981,Certificate,SPM,2018-01-08,Admin & HR Assistant,2022-04-18 00:00:00,2023-09-17 00:00:00,Part-Time,Individual,107,GIRO,5136
1,1101-009/002,F,Y,NaN,NaN,NaN,26/07/1979,Certificate,"Certificate in Office Skills, ITE",2016-06-08,Admin Assistant,2022-04-18 00:00:00,2023-09-17 00:00:00,Part-Time,Individual-SFC,107,NETS,5136
2,1101-009/003,F,,NaN,Y,India,01/02/1990,Degree,"Bachelor of Business Administration, Universit...",2015-08-08,-,2022-04-18 00:00:00,2023-09-17 00:00:00,Part-Time,Individual,107,NETS,5136
3,1101-009/004,F,,NaN,Y,Netherlands,20/04/1976,Diploma,"Office Management Diploma, NCOI Rotterdam, The...",2018-02-08,HR Support / Office Manager,2022-04-18 00:00:00,2023-09-17 00:00:00,Part-Time,Individual,107,NETS,5136
4,1101-009/005,F,Y,NaN,NaN,NaN,25/11/1983,Diploma,"Diploma in Business Admininstration, LCCI Leve...",2015-06-08,"Executive, Administration",2022-04-18 00:00:00,2023-09-17 00:00:00,Part-Time,Sponsored,107,GIRO,4812

## Data Analysis
---

### Course Code

In [ ]:
course_code.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CODE         7 non-null      int64
 1   COURSE NAME  7 non-null      object
dtypes: int64(1), object(1)
memory usage: 244.0+ bytes

In [ ]:
course_code.head(10)

   CODE                                        COURSE NAME
0  1101                 Diploma in Business Administration
1  1102                      Diploma in Business Analytics
2  2101                   Certificate in Digital Marketing
3  2102                       Certificate in HR Management
4  2013                  Certificate in Tourism Management
5  5112  Specialist Diploma in Business Innovation and ...
6  5113          Specialist Diploma in Intelligent Systems

#### Course Code DataFrame Summary

- The **`Course Code` DataFrame** contains **no null values**.
- It has a total of **7 rows**.
- The data appears to be **cleaned and ready for use**.

### Student Profile
---

#### Student_ID

In [ ]:
import pandas as pd

# Step 1: Get unique student IDs from each DataFrame
ids_profiles = set(student_profiles['STUDENT ID'].dropna().unique())
ids_results = set(semester_results['STUDENT ID'].dropna().unique())

# Step 2: Compare sets
if ids_profiles == ids_results:
    print("STUDENT ID columns match exactly in both datasets.")
else:
    print("Mismatch found between STUDENT ID columns.")

    # Extra: Show differences
    only_in_profiles = ids_profiles - ids_results
    only_in_results = ids_results - ids_profiles

    if only_in_profiles:
        print("Student IDs only in student_profiles:")
        print(only_in_profiles)

    if only_in_results:
        print("Student IDs only in semester_results:")
        print(only_in_results)

Mismatch found between STUDENT ID columns.
Student IDs only in student_profiles:
{'2101-111/003', '5113-009/001', '5113-009/006', '2101-111/006', '5113-009/004', '2101-111/005', '5113-009/002', '5113-009/005', '2101-111/007', '2101-111/004', '2101-111/002', '2101-111/001', '5113-009/003', '2101-111/008', '5113-009/007'}
Student IDs only in semester_results:
{'5112-007/005', '5112-007/001', '2101-106/003', '5112-007/003', '5112-007/006', '2101-106/004', '2101-106/001', '5112-007/002', '5112-007/004', '2101-106/005', '2101-106/002'}

In [ ]:
# Get sets of Student IDs
ids_profiles = set(student_profiles['STUDENT ID'].dropna().unique())
ids_results = set(semester_results['STUDENT ID'].dropna().unique())

# Find mismatched IDs (present in semester_results but not in student_profiles)
only_in_results = ids_results - ids_profiles

# Filter and print those rows from semester_results
mismatched_rows = semester_results[semester_results['STUDENT ID'].isin(only_in_results)]

print("❌ Mismatched rows from semester_results:")
print(mismatched_rows)

❌ Mismatched rows from semester_results:
       STUDENT ID PERIOD  GPA
116  2101-106/001  Sem 1  2.4
117  2101-106/002  Sem 1  3.1
118  2101-106/003  Sem 1  3.4
119  2101-106/004  Sem 1  2.8
120  2101-106/005  Sem 1  2.3
130  5112-007/001  Sem 1  2.9
131  5112-007/001  Sem 2  3.8
132  5112-007/002  Sem 1  3.2
133  5112-007/002  Sem 2  3.3
134  5112-007/003  Sem 1  3.6
135  5112-007/003  Sem 2  3.7
136  5112-007/004  Sem 1  3.5
137  5112-007/004  Sem 2  2.6
138  5112-007/005  Sem 1  2.1
139  5112-007/005  Sem 2  2.3
140  5112-007/006  Sem 1  3.2
141  5112-007/006  Sem 2  3.1

In [ ]:
# From Ben, i dont think we should remove students which are not found in semester_results dataset as when i checked the data,
# i found out it is because they just started the course so it could be useful for finding out no of intake over time
# Look Below

import pandas as pd

# Extract all unique prefixes from semester_results
prefixes = set(semester_results['STUDENT ID'].str.extract(r'^(\d{4}-\d{3})')[0])

# Filter student_profiles to include only rows whose STUDENT ID starts with one of the prefixes
matched_profiles = student_profiles[
    student_profiles['STUDENT ID'].str.extract(r'^(\d{4}-\d{3})')[0].isin(prefixes)
]

# Display result
print("✅ Matched student profiles (by prefix only):")
matched_profiles

✅ Matched student profiles (by prefix only):

,STUDENT ID,GENDER,SG CITIZEN,SG PR,FOREIGNER,COUNTRY OF OTHER NATIONALITY,DOB,HIGHEST QUALIFICATION,NAME OF QUALIFICATION AND INSTITUTION,DATE ATTAINED HIGHEST QUALIFICATION,DESIGNATION,COMMENCEMENT DATE,COMPLETION DATE,FULL-TIME OR PART-TIME,COURSE FUNDING,REGISTRATION FEE,PAYMENT MODE,COURSE FEE
0,1101-009/001,F,,NaN,Y,Malaysia,13/09/1981,Certificate,SPM,2018-01-08,Admin & HR Assistant,2022-04-18 00:00:00,2023-09-17 00:00:00,Part-Time,Individual,107,GIRO,5136
1,1101-009/002,F,Y,NaN,NaN,NaN,26/07/1979,Certificate,"Certificate in Office Skills, ITE",2016-06-08,Admin Assistant,2022-04-18 00:00:00,2023-09-17 00:00:00,Part-Time,Individual-SFC,107,NETS,5136
2,1101-009/003,F,,NaN,Y,India,01/02/1990,Degree,"Bachelor of Business Administration, Universit...",2015-08-08,-,2022-04-18 00:00:00,2023-09-17 00:00:00,Part-Time,Individual,107,NETS,5136
3,1101-009/004,F,,NaN,Y,Netherlands,20/04/1976,Diploma,"Office Management Diploma, NCOI Rotterdam, The...",2018-02-08,HR Support / Office Manager,2022-04-18 00:00:00,2023-09-17 00:00:00,Part-Time,Individual,107,NETS,5136
4,1101-009/005,F,Y,NaN,NaN,NaN,25/11/1983,Diploma,"Diploma in Business Admininstration, LCCI Leve...",2015-06-08,"Executive, Administration",2022-04-18 00:00:00,2023-09-17 00:00:00,Part-Time,Sponsored,107,GIRO,4812
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,5113-008/003,F,Y,NaN,NaN,NaN,18/11/1991,Degree,Bachelor of Business (Marketing)/\nRMIT Univer...,2017-03-21,Regional Recruiter,2024-04-08 00:00:00,2025-03-18 00:00:00,Part-Time,Individual,107,Nets,5803
296,5113-008/004,F,Y,NaN,NaN,NaN,29/04/1974,Degree,Bachelor of Commerce in Management and Marketi...,2017-02-28,Confidential Assistant,2024-04-08 00:00:00,2025-03-18 00:00:00,Part-Time,Individual,107,Nets,5803
297,5113-008/005,F,Y,NaN,NaN,NaN,19/10/1981,Degree,"Bachelor of Arts in Human Resource Management,...",2018-01-30,Journey Management Team Lead,2024-04-08 00:00:00,2025-03-18 00:00:00,Part-Time,Individual,107,Nets,5803
298,5113-008/006,F,Y,NaN,NaN,NaN,19/03/1971,Degree,Bachelor of Arts (Sociology)/\nState Universit...,1995-05-30,Academy Program Coordinator,2024-04-08 00:00:00,2025-03-18 00:00:00,Part-Time,Individual,107,Nets,5803
299,5113-008/007,F,NaN,NaN,Y,China,28/11/1998,Degree,Bachelor of Arts with Honours/\nNational Unive...,2019-11-30,Management Associate,2024-04-08 00:00:00,2025-03-18 00:00:00,Part-Time,Individual,107,Nets,5803



---

### Checking students which are not found in semester_results

In [ ]:
# Get sets of Student IDs
ids_profiles = set(student_profiles['STUDENT ID'].dropna().unique())
ids_results = set(semester_results['STUDENT ID'].dropna().unique())

# Find mismatched IDs (present in student_profiles but not in student_profiles)
only_in_results =  ids_profiles - ids_results

# Filter and print those rows from student_profiles
mismatched_rows = student_profiles[student_profiles['STUDENT ID'].isin(only_in_results)]

print("❌ Mismatched rows from student_profiles:")
mismatched_rows.head(20)

❌ Mismatched rows from student_profiles:

,STUDENT ID,GENDER,SG CITIZEN,SG PR,FOREIGNER,COUNTRY OF OTHER NATIONALITY,DOB,HIGHEST QUALIFICATION,NAME OF QUALIFICATION AND INSTITUTION,DATE ATTAINED HIGHEST QUALIFICATION,DESIGNATION,COMMENCEMENT DATE,COMPLETION DATE,FULL-TIME OR PART-TIME,COURSE FUNDING,REGISTRATION FEE,PAYMENT MODE,COURSE FEE
108,2101-111/001,F,,Y,NaN,Malaysian,08/07/1995,Degree,"Bachelor of Science (HRD), Universiti Teknolog...",2020-04-04,Manager,2025-04-24 00:00:00,NaN,Part Time,Indivodual,107,PayNow,2996
109,2101-111/002,F,Y,NaN,NaN,NaN,08/09/1997,Certificate,Certificate in Grammar & Writing Intermediate ...,2021-10-04,Admin Assistant,2025-04-24 00:00:00,NaN,Part Time,Individual,107,PayNow,2996
110,2101-111/003,F,Y,NaN,NaN,,19/06/1999,Diploma,"Diploma in Mechatronic Engineering, Nee Ann Po...",2020-12-24,HR Manager,2025-04-24 00:00:00,NaN,Part Time,Sponsored,107,PayNow,2696
111,2101-111/004,F,Y,NaN,NaN,,28/09/2010,Certificate,"Higher Nitec in Hospitality Operations, ITE",2021-09-24,Admin Executive,2025-04-24 00:00:00,NaN,Part Time,Individual,107,PayNow,2996
112,2101-111/005,F,Y,NaN,NaN,NaN,19/10/1990,Certificate,O' level,2010-07-24,Admin Executive,2025-04-24 00:00:00,NaN,Part Time,Individual - waived App Fee,Waived,Waived,2596
113,2101-111/006,F,Y,NaN,NaN,,10/04/1999,Certificate,Higher Nitec in Business Studies (Service Mana...,2012-04-24,Admin Assistant,2025-04-24 00:00:00,NaN,Part Time,Sponsored,107,PayNow,2696
114,2101-111/007,F,Y,NaN,NaN,,24/05/2000,Certificate,O' levels,2020-04-24,Secretary,2025-04-24 00:00:00,NaN,Part Time,Individual,107,PayNow,2996
115,2101-111/008,F,Y,NaN,NaN,,12/04/2001,Certificate,O' levels,2022-05-24,Executive,2025-04-24 00:00:00,NaN,Part Time,Individual,107,PayNow,2996
300,5113-009/001,F,NaN,NaN,Y,India,14/11/1985,Degree,Bachelor of Arts in Business with Logistics an...,2019-08-04,Program Coordinator,2025-04-14 00:00:00,NaN,Part-Time,Individual,107,Nets,5803
301,5113-009/002,F,Y,NaN,NaN,NaN,28/01/1993,Degree,Bachelor of Business (Business Administration)...,2020-10-04,"Assistant Director, Business Development",2025-04-14 00:00:00,NaN,Part-Time,Individual,107,Nets,5803
302,5113-009/003,F,Y,NaN,NaN,NaN,06/03/1995,Degree,Bachelor of Science in Hotel Administration (H...,2019-06-08,HR Manager,2025-04-14 00:00:00,NaN,Part-Time,Individual,107,Nets,5803
303,5113-009/004,M,NaN,Y,NaN,Philippines,09/02/1995,Degree,Bachelor of Science in Accounting and Finance ...,2020-08-05,Finance Manager,2025-04-14 00:00:00,NaN,Part-Time,Individual,107,Nets,5803
304,5113-009/005,F,Y,NaN,NaN,NaN,01/10/1993,Degree,Bachelor of Commerce (Accounting and Finance)/...,2019-11-05,"Head, Admin",2025-04-14 00:00:00,NaN,Part-Time,Individual,107,Nets,5803
305,5113-009/006,F,NaN,Y,NaN,Indonesia,30/09/1996,Degree,Bachelor of Economics (Accounting)/\nUniversit...,2018-05-05,Accountant,2025-04-14 00:00:00,NaN,Part-Time,Individual,107,Nets,5803
306,5113-009/007,F,Y,NaN,NaN,NaN,06/11/1996,Degree,"Degree of Computer Science, National Universit...",2021-04-20,Software Consultant,2025-04-14 00:00:00,NaN,Part-Time,Individual,107,Nets,5803

Students that are included in student_profile dataset but not in semester_results are those who haven't completed the course yet

#### SG CITIZEN, SG PR & FOREIGNER
---

In [4]:
import pandas as pd
import numpy as np

# Load the student_profiles DataFrame
student_profiles = pd.read_excel("https://github.com/swamhtetg90/DAVI-CA2/blob/main/DAVI%20CA2%20datasets%20and%20meta%20data/Student%20Profiles.xlsx?raw=true")

# Replace empty strings with NaN in the specified columns
cols_to_check = ['SG CITIZEN', 'SG PR', 'FOREIGNER']
for col in cols_to_check:
    student_profiles[col] = student_profiles[col].replace(r'^\s*$', np.nan, regex=True)

# Check if there is only one non-null value among 'SG CITIZEN', 'SG PR', and 'FOREIGNER' for each row
student_profiles['Residential_Status_Check'] = (student_profiles[['SG CITIZEN', 'SG PR', 'FOREIGNER']].notna().sum(axis=1) == 1)

# Print rows where the condition is False (i.e., not exactly one non-null value)
mismatched_residential_status = student_profiles[student_profiles['Residential_Status_Check'] == False]

if mismatched_residential_status.empty:
    print("Each student has exactly one residential status specified.")
else:
    print("The following rows have more or less than one residential status specified:")
    display(mismatched_residential_status[['STUDENT ID', 'SG CITIZEN', 'SG PR', 'FOREIGNER', 'Residential_Status_Check']])

# Drop the temporary check column
student_profiles = student_profiles.drop(columns=['Residential_Status_Check'])

✅ Each student has exactly one residential status specified.

Therefore, we can combine these 3 columns into 1 columnn called "Residential Status".

#### Nationality
---

In [5]:
# Check unique values in the 'COUNTRY OF OTHER NATIONALITY' column
unique_nationalities = student_profiles['COUNTRY OF OTHER NATIONALITY'].value_counts().reset_index()
unique_nationalities.columns = ['Nationality', 'Count']
print("Unique values in 'COUNTRY OF OTHER NATIONALITY' column:")
display(unique_nationalities)

Unique values in 'COUNTRY OF OTHER NATIONALITY' column:

   Nationality  Count
0                  88
1     Malaysia     27
2        China     14
3        India     12
4  Philippines      8
5      Myanmar      3
6  Netherlands      1
7    Malaysian      1
8      Vietnam      1
9    Indonesia      1

In [9]:
# Count the occurrences of each value in the 'SG CITIZEN' column
sg_citizen_counts = student_profiles['SG CITIZEN'].value_counts().reset_index()

# Rename columns for clarity
sg_citizen_counts.columns = ['SG CITIZEN Value', 'Count']

# Display the counts
print("Count of each value in the 'SG CITIZEN' column:")
display(sg_citizen_counts)

Count of each value in the 'SG CITIZEN' column:

  SG CITIZEN Value  Count
0                Y    224
1              Yes     15

Based on the results, you can see that if it is blank in "COUNTRY OF OTHER NATIONALITY", the Nationality is Singapore

#### DOB (Date of Birth)
---

## Data Cleaning
---

### Data Cleaning Steps for Student Profile

#### 1. Student ID Decomposition

* Split `STUDENT_ID` into three new columns:

  * `COURSE_ID`
  * `INTAKE_NO`
  * `INDEX_NO`
* Format: `<COURSE_ID>-<INTAKE_NO>/<INDEX_NO>`

#### 2. Remove Unmatched Semester Results

* Remove entries from `semester_results` if the student does not exist in the `student profile` table.

#### 3. Residential Status

* Combine `SG CITIZEN`, `SG PR`, and `FOREIGNER` into a single column: `RESIDENTIAL_STATUS`.

  * Logic: Only one of the three columns contains "Y"; others are null.
  * New values: `Singapore Citizen`, `PR`, or `Foreigner`.

#### 4. Nationality

* Rename `COUNTRY OF OTHER NATIONALITY` to `NATIONALITY`.
* Replace null or blank values with: `Singapore`.

#### 5. Date of Birth (`DOB`)

* Check for invalid or missing data.

#### 6. Highest Qualification

* Standardize and check for spelling errors.

#### 7. Name of Qualification and Institution

* Split `NAME OF QUALIFICATION AND INSTITUTION` into two parts:

  * `QUALIFICATION_NAME` (text before the first comma)
  * `INSTITUTION_NAME` (text after the first comma)

#### 8. Date Attained Highest Qualification

* Check if the date is realistic compared to `DOB`.

#### 9. Designation

* Leave as-is for now.

#### 10. Commence Date & Completion Date

* If `COMPLETION DATE` is null, it may indicate the student has not completed the course.

  * Consider keeping the null value but add a column like `COURSE_COMPLETED` (True/False) for clarity.

#### 11. Full-time or Part-time

* Standardize values:

  * Check for null values.
  * Correct spelling errors (e.g., `fulltime` → `Full-time`).

#### 12. Course Funding Type

* Standardize values to one of the following:

  * `Individual`
  * `Individual - SFC (SkillsFuture Credit)`
  * `Sponsored`
  * `Individual - Waived App Fee`
* Check for spelling errors and inconsistencies.

#### 13. Registration Fee

* Remove `$` symbol.
* Convert to float with 2 decimal places.

#### 14. Payment Mode

* Standardize text and check for spelling mistakes.

#### 15. Course Fee

* Remove `$` symbol.
* Convert to float with 2 decimal places.

---

## Exporting Data
---