<a href="https://colab.research.google.com/github/swamhtetg90/DAVI-CA2/blob/main/data_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DAVI Data Cleaning
## Group-10
## Group Member: Devendran Yoheswaran, Kaung Myat San, Swam Htet Aung
---

## Meta Data
---
### Student Profiles

> **Note:** Data is manually entered, so the values are not standardized.

| **Field Name**                            | **Description**                                                                                                                          | **Example**                |
| ----------------------------------------- | ---------------------------------------------------------------------------------------------------------------------------------------- | -------------------------- |
| **STUDENT ID**                            | Student ID is made up of three attributes: `<Course code>-<Intake No>/<Index Number of student in the intake>`                           | `1101-013/001`             |
| **GENDER**                                | Gender                                                                                                                                   | `M`, `F`                   |
| **SG CITIZEN**                            | Singapore Citizen                                                                                                                        | `Y` or blank               |
| **SG PR**                                 | Singapore Permanent Resident                                                                                                             | `Y` or blank               |
| **FOREIGNER**                             | Neither SG Citizen nor SG PR (mutually exclusive with SG CITIZEN and SG PR)                                                              | `Y` or blank               |
| **COUNTRY OF OTHER NATIONALITY**          | Country of nationality (only for SG PR or foreigner)                                                                                     | `Malaysia`, `India`, etc.  |
| **DOB**                                   | Date of Birth. Format: `DD/MM/YYYY`                                                                                                      | `04/03/1978`               |
| **HIGHEST QUALIFICATION**                 | Highest qualification attained prior to this course                                                                                      | `Certificate`, `Diploma`   |
| **NAME OF QUALIFICATION AND INSTITUTION** | Institute where the highest qualification was attained                                                                                   | As provided by participant |
| **DATE ATTAINED HIGHEST QUALIFICATION**   | Date when the qualification was awarded. Format: `DD/MM/YYYY`                                                                            | `06/11/2016`               |
| **DESIGNATION**                           | Job designation                                                                                                                          | As provided by participant |
| **COMMENCEMENT DATE**                     | Course start date. Format: `DD/MM/YYYY`                                                                                                  | `06/01/2023`               |
| **COMPLETION DATE**                       | Course end date. Blank if course is ongoing. Format: `DD/MM/YYYY`                                                                        | `06/04/2024`               |
| **FULL-TIME OR PART-TIME**                | Whether the course is Full-time or Part-time                                                                                             | `Full-Time`, `Part-Time`   |
| **COURSE FUNDING**                        | Course funding type:<br>- `Individual`<br>- `Individual - SFC` (SkillsFuture Credit)<br>- `Sponsored`<br>- `Individual - waived App Fee` | `Individual - SFC`         |
| **REGISTRATION FEE**                      | Registration fee in SGD                                                                                                                  | As entered                 |
| **PAYMENT MODE**                          | Mode of payment                                                                                                                          | `NETS`, `Giro`, `PayNow`   |
| **COURSE FEE**                            | Course fee in SGD                                                                                                                        | As entered                 |

---

### Course Codes

| **S/N**         | **Description**        | **Example**                          |
| --------------- | ---------------------- | ------------------------------------ |
| **CODE**        | Course code (4 digits) | `1101`                               |
| **COURSE NAME** | Course name            | `Diploma in Business Administration` |

---

### Semester Results

| **S/N**        | **Description**                                                                                                           | **Example**    |
| -------------- | ------------------------------------------------------------------------------------------------------------------------- | -------------- |
| **STUDENT ID** | Must match the ID in the Student Profile dataset                                                                          | `1101-013/001` |
| **PERIOD**     | Semester number<br>• Certificate: 1 semester<br>• Diploma: 3 semesters<br>• Master’s: 2 semesters (some exceptions apply) | `1`, `2`, `3`  |
| **GPA**        | GPA for the semester.<br>• Max GPA: 4<br>• Pass GPA: Certificate/Diploma = 2, Master's = 2.3                              | `3.2`          |

---

## Importing Modules
---

In [1]:
import pandas as pd
import numpy as np

## Loading Data
---

#### Course_Code Data

In [2]:
course_code = pd.read_excel("https://github.com/swamhtetg90/DAVI-CA2/blob/main/DAVI%20CA2%20datasets%20and%20meta%20data/Course%20Codes.xlsx?raw=true")
course_code.head()

   CODE                         COURSE NAME
0  1101  Diploma in Business Administration
1  1102       Diploma in Business Analytics
2  2101    Certificate in Digital Marketing
3  2102        Certificate in HR Management
4  2013   Certificate in Tourism Management

#### Semester Results Data

In [3]:
semester_results = pd.read_excel("https://github.com/swamhtetg90/DAVI-CA2/blob/main/DAVI%20CA2%20datasets%20and%20meta%20data/Semester%20Results.xlsx?raw=true")
semester_results.head()

     STUDENT ID PERIOD  GPA
0  1101-009/001  Sem 1  3.5
1  1101-009/001  Sem 2  3.6
2  1101-009/001  Sem 3  3.7
3  1101-009/002  Sem 1  3.4
4  1101-009/002  Sem 2  3.5

#### Student Profiles Data

In [4]:
student_profiles = pd.read_excel("https://github.com/swamhtetg90/DAVI-CA2/blob/main/DAVI%20CA2%20datasets%20and%20meta%20data/Student%20Profiles.xlsx?raw=true")
student_profiles.head()

,STUDENT ID,GENDER,SG CITIZEN,SG PR,FOREIGNER,COUNTRY OF OTHER NATIONALITY,DOB,HIGHEST QUALIFICATION,NAME OF QUALIFICATION AND INSTITUTION,DATE ATTAINED HIGHEST QUALIFICATION,DESIGNATION,COMMENCEMENT DATE,COMPLETION DATE,FULL-TIME OR PART-TIME,COURSE FUNDING,REGISTRATION FEE,PAYMENT MODE,COURSE FEE
0,1101-009/001,F,,NaN,Y,Malaysia,13/09/1981,Certificate,SPM,2018-01-08,Admin & HR Assistant,2022-04-18 00:00:00,2023-09-17 00:00:00,Part-Time,Individual,107,GIRO,5136
1,1101-009/002,F,Y,NaN,NaN,NaN,26/07/1979,Certificate,"Certificate in Office Skills, ITE",2016-06-08,Admin Assistant,2022-04-18 00:00:00,2023-09-17 00:00:00,Part-Time,Individual-SFC,107,NETS,5136
2,1101-009/003,F,,NaN,Y,India,01/02/1990,Degree,"Bachelor of Business Administration, Universit...",2015-08-08,-,2022-04-18 00:00:00,2023-09-17 00:00:00,Part-Time,Individual,107,NETS,5136
3,1101-009/004,F,,NaN,Y,Netherlands,20/04/1976,Diploma,"Office Management Diploma, NCOI Rotterdam, The...",2018-02-08,HR Support / Office Manager,2022-04-18 00:00:00,2023-09-17 00:00:00,Part-Time,Individual,107,NETS,5136
4,1101-009/005,F,Y,NaN,NaN,NaN,25/11/1983,Diploma,"Diploma in Business Admininstration, LCCI Leve...",2015-06-08,"Executive, Administration",2022-04-18 00:00:00,2023-09-17 00:00:00,Part-Time,Sponsored,107,GIRO,4812

## Data Analysis
---

### Course Code

In [5]:
course_code.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CODE         7 non-null      int64
 1   COURSE NAME  7 non-null      object
dtypes: int64(1), object(1)
memory usage: 244.0+ bytes

In [6]:
course_code.head(10)

   CODE                                        COURSE NAME
0  1101                 Diploma in Business Administration
1  1102                      Diploma in Business Analytics
2  2101                   Certificate in Digital Marketing
3  2102                       Certificate in HR Management
4  2013                  Certificate in Tourism Management
5  5112  Specialist Diploma in Business Innovation and ...
6  5113          Specialist Diploma in Intelligent Systems

#### Course Code DataFrame Summary

- The **`Course Code` DataFrame** contains **no null values**.
- It has a total of **7 rows**.
- The data appears to be **cleaned and ready for use**.

### Student Profile
---

#### Student_ID

In [7]:
# Check for duplicate student IDs in student_profiles
duplicate_student_profiles = student_profiles[student_profiles.duplicated(subset=['STUDENT ID'], keep=False)]

if duplicate_student_profiles.empty:
    print("No duplicate STUDENT IDs found in student_profiles.")
else:
    print("Duplicate STUDENT IDs found in student_profiles:")
    # Sort by 'STUDENT ID' to show duplicates next to each other
    display(duplicate_student_profiles.sort_values(by='STUDENT ID'))

Duplicate STUDENT IDs found in student_profiles:

,STUDENT ID,GENDER,SG CITIZEN,SG PR,FOREIGNER,COUNTRY OF OTHER NATIONALITY,DOB,HIGHEST QUALIFICATION,NAME OF QUALIFICATION AND INSTITUTION,DATE ATTAINED HIGHEST QUALIFICATION,DESIGNATION,COMMENCEMENT DATE,COMPLETION DATE,FULL-TIME OR PART-TIME,COURSE FUNDING,REGISTRATION FEE,PAYMENT MODE,COURSE FEE
74,2101-107/001,F,,Y,NaN,Malaysia,08/07/1984,Degree,"Bachelor of Science (HRD), Universiti Teknolog...",2016-04-04,Manager,2022-04-24 00:00:00,2022-09-23 00:00:00,Part Time,Indivodual,107,NETS,2996
75,2101-107/001,F,,Y,NaN,Malaysia,08/07/1984,Degree,"Bachelor of Science (HRD), Universiti Teknolog...",2016-04-04,Manager,2022-04-24 00:00:00,2022-09-23 00:00:00,Part Time,Indivodual,107,NETS,2996
217,5112-008/001,M,Y,NaN,NaN,NaN,22/01/1983,Degree,Degree of Bachelor of Science with Honours in ...,2017-12-20,N.A.,2022-10-18 00:00:00,2023-09-29 00:00:00,Part-Time,Individual,107,Nets,5803
218,5112-008/001,M,Y,NaN,NaN,NaN,22/01/1983,Degree,Degree of Bachelor of Science with Honours in ...,2017-12-20,Admin Manager,2022-10-18 00:00:00,2023-09-29 00:00:00,Part-Time,Individual,107,Nets,5803
221,5112-008/004,F,NaN,NaN,Y,China,06/08/1989,Degree,Bachelor of Business (Accounting)/\nMurdoch Un...,2018-10-20,Admin Supervisor,2022-10-18 00:00:00,2023-09-29 00:00:00,Part-Time,Individual,107,Nets,5803
222,5112-008/004,F,NaN,NaN,Y,China,06/08/1989,Degree,Bachelor of Business (Accounting)/\nMurdoch Un...,2018-10-20,Admin Supervisor,2022-10-18 00:00:00,2023-09-29 00:00:00,Part-Time,Individual,107,Nets,5803
276,5113-007/001,M,Y,NaN,NaN,NaN,11/02/1972,Degree,Bachelor of Arts in Human Resource Management ...,1996-05-10,Manager,2023-10-16 00:00:00,2024-09-20 00:00:00,Part-Time,Individual,107,Nets,5803
285,5113-007/001,M,Y,NaN,NaN,NaN,11/02/1972,Degree,Bachelor of Arts in Human Resource Management ...,1996-05-10,Manager,2023-10-16 00:00:00,2024-09-20 00:00:00,Part-Time,Individual,107,Nets,5803
277,5113-007/002,M,Y,NaN,NaN,NaN,17/07/1966,Degree,Bachelor of Science/\nNational University of S...,1990-07-10,Assistant Vice-President,2023-10-16 00:00:00,2025-03-18 00:00:00,Part-Time,Individual,107,Nets,5803
286,5113-007/002,M,Y,NaN,NaN,NaN,17/07/1966,Degree,Bachelor of Science/\nNational University of S...,1990-07-10,Assistant Vice-President,2023-10-16 00:00:00,2024-09-20 00:00:00,Part-Time,Individual,107,Nets,5803
278,5113-007/003,M,Y,NaN,NaN,NaN,03/01/1970,Degree,Postgraduate Diploma in Education (Specialisat...,2008-04-20,Teacher,2023-10-16 00:00:00,2024-09-20 00:00:00,Part-Time,Individual,107,Nets,5803
287,5113-007/003,M,Y,NaN,NaN,NaN,03/01/1970,Degree,Postgraduate Diploma in Education (Specialisat...,2008-04-20,Teacher,2023-10-16 00:00:00,2024-09-20 00:00:00,Part-Time,Individual,107,Nets,5803
279,5113-007/004,F,NaN,NaN,Y,India,27/07/1970,Master,Master of Business Administration/\nJawaharlal...,2008-04-20,Manager,2023-10-16 00:00:00,2024-09-20 00:00:00,Part-Time,Individual,107,Nets,5803
288,5113-007/004,F,NaN,NaN,Y,India,27/07/1970,Master,Master of Business Administration/\nJawaharlal...,2008-04-20,Manager,2023-10-16 00:00:00,2024-09-20 00:00:00,Part-Time,Individual,107,Nets,5803
289,5113-007/005,F,Y,NaN,NaN,NaN,07/11/1993,Degree,Graduate Diploma in Systems Analysis/\nNationa...,2017-07-20,IT Developer,2023-10-16 00:00:00,2024-09-20 00:00:00,Part-Time,Individual,107,Nets,5803
281,5113-007/005,F,Y,NaN,NaN,NaN,07/11/1993,Degree,Graduate Diploma in Systems Analysis/\nNationa...,2017-07-20,IT Developer,2023-10-16 00:00:00,2024-09-20 00:00:00,Part-Time,Individual,107,Nets,5803
280,5113-007/005,F,Y,NaN,NaN,NaN,07/11/1993,Degree,Graduate Diploma in Systems Analysis/\nNationa...,2017-07-20,IT Developer,2023-10-16 00:00:00,2024-09-20 00:00:00,Part-Time,Individual,107,Nets,5803
282,5113-007/006,M,Y,NaN,NaN,NaN,14/01/1991,Degree,Bachelor of Science in Finance/\nSingapore Uni...,2018-11-21,Audit Associate,2023-10-16 00:00:00,2024-09-20 00:00:00,Part-Time,Individual,107,Nets,5803
290,5113-007/006,M,Y,NaN,NaN,NaN,14/01/1991,Degree,Bachelor of Science in Finance/\nSingapore Uni...,2018-11-21,Audit Associate,2023-10-16 00:00:00,2024-09-20 00:00:00,Part-Time,Individual,107,Nets,5803
283,5113-007/007,M,Y,NaN,NaN,NaN,18/08/1978,Master,Master in Business Administration with Merit/\...,2019-02-21,Lecturer,2023-10-16 00:00:00,2024-09-20 00:00:00,Part-Time,Individual,107,Nets,5803
291,5113-007/007,M,Y,NaN,NaN,NaN,18/08/1978,Master,Master in Business Administration with Merit/\...,2019-02-21,Lecturer,2023-10-16 00:00:00,2024-09-20 00:00:00,Part-Time,Individual,107,Nets,5803
284,5113-007/008,M,Y,NaN,NaN,NaN,11/01/1997,Degree,"BBA, Monash University",2020-03-12,Admin Lead,2023-10-16 00:00:00,2024-09-20 00:00:00,Part-Time,Individual,107,Nets,5803
292,5113-007/008,M,Y,NaN,NaN,NaN,11/01/1997,Degree,"BBA, Monash University",2020-03-12,Admin Lead,2023-10-16 00:00:00,2024-09-20 00:00:00,Part-Time,Individual,107,Nets,5803

There seemed to be rows where there are duplicated Student ID.

From looking through these rows it seemed there are rows where the whole row is not duplicated.
Let us take a look at those.

In [8]:
# Find rows that are duplicates based on 'STUDENT ID'
duplicate_ids_mask = student_profiles.duplicated(subset=['STUDENT ID'], keep=False)

# Find rows that are exact duplicates across all columns
exact_duplicates_mask = student_profiles.duplicated(keep=False)

# Filter to find rows where 'STUDENT ID' is duplicated but the whole row is not an exact duplicate
mismatched_duplicate_rows = student_profiles[duplicate_ids_mask & ~exact_duplicates_mask].copy()

if mismatched_duplicate_rows.empty:
    print("No rows found where STUDENT ID is duplicated but the entire row is different.")
else:
    print("Rows with duplicate STUDENT IDs but different content:")
    # Sort by 'STUDENT ID' to group mismatched rows for the same student together
    mismatched_duplicate_rows_sorted = mismatched_duplicate_rows.sort_values(by='STUDENT ID')
    display(mismatched_duplicate_rows_sorted)

    print("\nDifferences between the rows:")
    # Group by STUDENT ID and compare rows within each group
    for student_id, group in mismatched_duplicate_rows_sorted.groupby('STUDENT ID'):
        print(f"\n--- Differences for STUDENT ID: {student_id} ---")
        # Assuming there are only two rows for each mismatched ID for simplicity in comparison
        if len(group) >= 2:
            row1 = group.iloc[0]
            row2 = group.iloc[1]
            differences = row1.compare(row2)
            if differences.empty:
                print("Rows are identical (no differences found).")
            else:
                display(differences)
        else:
            print("Not enough rows to compare for this STUDENT ID.")

Rows with duplicate STUDENT IDs but different content:

,STUDENT ID,GENDER,SG CITIZEN,SG PR,FOREIGNER,COUNTRY OF OTHER NATIONALITY,DOB,HIGHEST QUALIFICATION,NAME OF QUALIFICATION AND INSTITUTION,DATE ATTAINED HIGHEST QUALIFICATION,DESIGNATION,COMMENCEMENT DATE,COMPLETION DATE,FULL-TIME OR PART-TIME,COURSE FUNDING,REGISTRATION FEE,PAYMENT MODE,COURSE FEE
217,5112-008/001,M,Y,NaN,NaN,NaN,22/01/1983,Degree,Degree of Bachelor of Science with Honours in ...,2017-12-20,N.A.,2022-10-18 00:00:00,2023-09-29 00:00:00,Part-Time,Individual,107,Nets,5803
218,5112-008/001,M,Y,NaN,NaN,NaN,22/01/1983,Degree,Degree of Bachelor of Science with Honours in ...,2017-12-20,Admin Manager,2022-10-18 00:00:00,2023-09-29 00:00:00,Part-Time,Individual,107,Nets,5803
277,5113-007/002,M,Y,NaN,NaN,NaN,17/07/1966,Degree,Bachelor of Science/\nNational University of S...,1990-07-10,Assistant Vice-President,2023-10-16 00:00:00,2025-03-18 00:00:00,Part-Time,Individual,107,Nets,5803
286,5113-007/002,M,Y,NaN,NaN,NaN,17/07/1966,Degree,Bachelor of Science/\nNational University of S...,1990-07-10,Assistant Vice-President,2023-10-16 00:00:00,2024-09-20 00:00:00,Part-Time,Individual,107,Nets,5803

Differences between the rows:

--- Differences for STUDENT ID: 5112-008/001 ---

             self          other
DESIGNATION  N.A.  Admin Manager

--- Differences for STUDENT ID: 5113-007/002 ---

                                self                other
COMPLETION DATE  2025-03-18 00:00:00  2024-09-20 00:00:00

From looking at the differences:
* **5112-008/001:** We can take the row where Admin Manager is in Designation as he might have forgotten to add it the first time.
* **5113-007/002:** For Completion Date, let us check other students in the same Course and Intake No to see which is more viable

In [9]:
# Filter student_profiles for the specific course code and intake number
course_intake_identifier = '5113-007'
relevant_students = student_profiles[student_profiles['STUDENT ID'].str.startswith(course_intake_identifier)].copy()

# Display the student IDs and their completion dates for this group
print(f"Completion dates for students in intake {course_intake_identifier}:")
display(relevant_students[['STUDENT ID', 'COMPLETION DATE']])

Completion dates for students in intake 5113-007:

       STUDENT ID      COMPLETION DATE
276  5113-007/001  2024-09-20 00:00:00
277  5113-007/002  2025-03-18 00:00:00
278  5113-007/003  2024-09-20 00:00:00
279  5113-007/004  2024-09-20 00:00:00
280  5113-007/005  2024-09-20 00:00:00
281  5113-007/005  2024-09-20 00:00:00
282  5113-007/006  2024-09-20 00:00:00
283  5113-007/007  2024-09-20 00:00:00
284  5113-007/008  2024-09-20 00:00:00
285  5113-007/001  2024-09-20 00:00:00
286  5113-007/002  2024-09-20 00:00:00
287  5113-007/003  2024-09-20 00:00:00
288  5113-007/004  2024-09-20 00:00:00
289  5113-007/005  2024-09-20 00:00:00
290  5113-007/006  2024-09-20 00:00:00
291  5113-007/007  2024-09-20 00:00:00
292  5113-007/008  2024-09-20 00:00:00

Therefore, from looking at the Date, `2024-09-20 00:00:00` seems more viable, therefore we will be taking this row instead of `2025-03-18 00:00:00`.

So, we will remove row `[217, 277]`

In [10]:
# Remove rows with index 217 and 277
rows_to_remove = [217, 277]
student_profiles_cleaned = student_profiles.drop(index=rows_to_remove, errors='ignore').copy()

print(f"Number of rows before removal: {len(student_profiles)}")
print(f"Number of rows after removal: {len(student_profiles_cleaned)}")

# Update the student_profiles DataFrame
student_profiles = student_profiles_cleaned

print("\nStudent profiles after removing specified rows:")
display(student_profiles.head())

Number of rows before removal: 307
Number of rows after removal: 305

Student profiles after removing specified rows:

,STUDENT ID,GENDER,SG CITIZEN,SG PR,FOREIGNER,COUNTRY OF OTHER NATIONALITY,DOB,HIGHEST QUALIFICATION,NAME OF QUALIFICATION AND INSTITUTION,DATE ATTAINED HIGHEST QUALIFICATION,DESIGNATION,COMMENCEMENT DATE,COMPLETION DATE,FULL-TIME OR PART-TIME,COURSE FUNDING,REGISTRATION FEE,PAYMENT MODE,COURSE FEE
0,1101-009/001,F,,NaN,Y,Malaysia,13/09/1981,Certificate,SPM,2018-01-08,Admin & HR Assistant,2022-04-18 00:00:00,2023-09-17 00:00:00,Part-Time,Individual,107,GIRO,5136
1,1101-009/002,F,Y,NaN,NaN,NaN,26/07/1979,Certificate,"Certificate in Office Skills, ITE",2016-06-08,Admin Assistant,2022-04-18 00:00:00,2023-09-17 00:00:00,Part-Time,Individual-SFC,107,NETS,5136
2,1101-009/003,F,,NaN,Y,India,01/02/1990,Degree,"Bachelor of Business Administration, Universit...",2015-08-08,-,2022-04-18 00:00:00,2023-09-17 00:00:00,Part-Time,Individual,107,NETS,5136
3,1101-009/004,F,,NaN,Y,Netherlands,20/04/1976,Diploma,"Office Management Diploma, NCOI Rotterdam, The...",2018-02-08,HR Support / Office Manager,2022-04-18 00:00:00,2023-09-17 00:00:00,Part-Time,Individual,107,NETS,5136
4,1101-009/005,F,Y,NaN,NaN,NaN,25/11/1983,Diploma,"Diploma in Business Admininstration, LCCI Leve...",2015-06-08,"Executive, Administration",2022-04-18 00:00:00,2023-09-17 00:00:00,Part-Time,Sponsored,107,GIRO,4812

In [11]:
import pandas as pd

# Step 1: Get unique student IDs from each DataFrame
ids_profiles = set(student_profiles['STUDENT ID'].dropna().unique())
ids_results = set(semester_results['STUDENT ID'].dropna().unique())

# Step 2: Compare sets
if ids_profiles == ids_results:
    print("STUDENT ID columns match exactly in both datasets.")
else:
    print("Mismatch found between STUDENT ID columns.")

    # Extra: Show differences
    only_in_profiles = ids_profiles - ids_results
    only_in_results = ids_results - ids_profiles

    if only_in_profiles:
        print("Student IDs only in student_profiles:")
        print(only_in_profiles)

    if only_in_results:
        print("Student IDs only in semester_results:")
        print(only_in_results)

Mismatch found between STUDENT ID columns.
Student IDs only in student_profiles:
{'5113-009/001', '5113-009/006', '2101-111/004', '2101-111/008', '2101-111/005', '2101-111/002', '5113-009/002', '2101-111/007', '5113-009/003', '5113-009/005', '2101-111/006', '2101-111/003', '2101-111/001', '5113-009/004', '5113-009/007'}
Student IDs only in semester_results:
{'2101-106/002', '5112-007/006', '5112-007/005', '2101-106/005', '2101-106/004', '5112-007/001', '5112-007/002', '2101-106/003', '2101-106/001', '5112-007/003', '5112-007/004'}

In [12]:
# Get sets of Student IDs
ids_profiles = set(student_profiles['STUDENT ID'].dropna().unique())
ids_results = set(semester_results['STUDENT ID'].dropna().unique())

# Find mismatched IDs (present in semester_results but not in student_profiles)
only_in_results = ids_results - ids_profiles

# Filter and print those rows from semester_results
mismatched_rows = semester_results[semester_results['STUDENT ID'].isin(only_in_results)]

print("❌ Mismatched rows from semester_results:")
print(mismatched_rows)

❌ Mismatched rows from semester_results:
       STUDENT ID PERIOD  GPA
116  2101-106/001  Sem 1  2.4
117  2101-106/002  Sem 1  3.1
118  2101-106/003  Sem 1  3.4
119  2101-106/004  Sem 1  2.8
120  2101-106/005  Sem 1  2.3
130  5112-007/001  Sem 1  2.9
131  5112-007/001  Sem 2  3.8
132  5112-007/002  Sem 1  3.2
133  5112-007/002  Sem 2  3.3
134  5112-007/003  Sem 1  3.6
135  5112-007/003  Sem 2  3.7
136  5112-007/004  Sem 1  3.5
137  5112-007/004  Sem 2  2.6
138  5112-007/005  Sem 1  2.1
139  5112-007/005  Sem 2  2.3
140  5112-007/006  Sem 1  3.2
141  5112-007/006  Sem 2  3.1

In [13]:
import pandas as pd

# Extract all unique prefixes from semester_results
prefixes = set(semester_results['STUDENT ID'].str.extract(r'^(\d{4}-\d{3})')[0])

# Filter student_profiles to include only rows whose STUDENT ID starts with one of the prefixes
matched_profiles = student_profiles[
    student_profiles['STUDENT ID'].str.extract(r'^(\d{4}-\d{3})')[0].isin(prefixes)
].copy()

# Display result
print("✅ Matched student profiles (by prefix only):")
matched_profiles

✅ Matched student profiles (by prefix only):

,STUDENT ID,GENDER,SG CITIZEN,SG PR,FOREIGNER,COUNTRY OF OTHER NATIONALITY,DOB,HIGHEST QUALIFICATION,NAME OF QUALIFICATION AND INSTITUTION,DATE ATTAINED HIGHEST QUALIFICATION,DESIGNATION,COMMENCEMENT DATE,COMPLETION DATE,FULL-TIME OR PART-TIME,COURSE FUNDING,REGISTRATION FEE,PAYMENT MODE,COURSE FEE
0,1101-009/001,F,,NaN,Y,Malaysia,13/09/1981,Certificate,SPM,2018-01-08,Admin & HR Assistant,2022-04-18 00:00:00,2023-09-17 00:00:00,Part-Time,Individual,107,GIRO,5136
1,1101-009/002,F,Y,NaN,NaN,NaN,26/07/1979,Certificate,"Certificate in Office Skills, ITE",2016-06-08,Admin Assistant,2022-04-18 00:00:00,2023-09-17 00:00:00,Part-Time,Individual-SFC,107,NETS,5136
2,1101-009/003,F,,NaN,Y,India,01/02/1990,Degree,"Bachelor of Business Administration, Universit...",2015-08-08,-,2022-04-18 00:00:00,2023-09-17 00:00:00,Part-Time,Individual,107,NETS,5136
3,1101-009/004,F,,NaN,Y,Netherlands,20/04/1976,Diploma,"Office Management Diploma, NCOI Rotterdam, The...",2018-02-08,HR Support / Office Manager,2022-04-18 00:00:00,2023-09-17 00:00:00,Part-Time,Individual,107,NETS,5136
4,1101-009/005,F,Y,NaN,NaN,NaN,25/11/1983,Diploma,"Diploma in Business Admininstration, LCCI Leve...",2015-06-08,"Executive, Administration",2022-04-18 00:00:00,2023-09-17 00:00:00,Part-Time,Sponsored,107,GIRO,4812
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,5113-008/003,F,Y,NaN,NaN,NaN,18/11/1991,Degree,Bachelor of Business (Marketing)/\nRMIT Univer...,2017-03-21,Regional Recruiter,2024-04-08 00:00:00,2025-03-18 00:00:00,Part-Time,Individual,107,Nets,5803
296,5113-008/004,F,Y,NaN,NaN,NaN,29/04/1974,Degree,Bachelor of Commerce in Management and Marketi...,2017-02-28,Confidential Assistant,2024-04-08 00:00:00,2025-03-18 00:00:00,Part-Time,Individual,107,Nets,5803
297,5113-008/005,F,Y,NaN,NaN,NaN,19/10/1981,Degree,"Bachelor of Arts in Human Resource Management,...",2018-01-30,Journey Management Team Lead,2024-04-08 00:00:00,2025-03-18 00:00:00,Part-Time,Individual,107,Nets,5803
298,5113-008/006,F,Y,NaN,NaN,NaN,19/03/1971,Degree,Bachelor of Arts (Sociology)/\nState Universit...,1995-05-30,Academy Program Coordinator,2024-04-08 00:00:00,2025-03-18 00:00:00,Part-Time,Individual,107,Nets,5803
299,5113-008/007,F,NaN,NaN,Y,China,28/11/1998,Degree,Bachelor of Arts with Honours/\nNational Unive...,2019-11-30,Management Associate,2024-04-08 00:00:00,2025-03-18 00:00:00,Part-Time,Individual,107,Nets,5803



---

### Checking students which are not found in semester_results

In [14]:
# Get sets of Student IDs
ids_profiles = set(student_profiles['STUDENT ID'].dropna().unique())
ids_results = set(semester_results['STUDENT ID'].dropna().unique())

# Find mismatched IDs (present in student_profiles but not in student_profiles)
only_in_results =  ids_profiles - ids_results

# Filter and print those rows from student_profiles
mismatched_rows = student_profiles[student_profiles['STUDENT ID'].isin(only_in_results)]

print("❌ Mismatched rows from student_profiles:")
mismatched_rows.head(20)

❌ Mismatched rows from student_profiles:

,STUDENT ID,GENDER,SG CITIZEN,SG PR,FOREIGNER,COUNTRY OF OTHER NATIONALITY,DOB,HIGHEST QUALIFICATION,NAME OF QUALIFICATION AND INSTITUTION,DATE ATTAINED HIGHEST QUALIFICATION,DESIGNATION,COMMENCEMENT DATE,COMPLETION DATE,FULL-TIME OR PART-TIME,COURSE FUNDING,REGISTRATION FEE,PAYMENT MODE,COURSE FEE
108,2101-111/001,F,,Y,NaN,Malaysian,08/07/1995,Degree,"Bachelor of Science (HRD), Universiti Teknolog...",2020-04-04,Manager,2025-04-24 00:00:00,NaN,Part Time,Indivodual,107,PayNow,2996
109,2101-111/002,F,Y,NaN,NaN,NaN,08/09/1997,Certificate,Certificate in Grammar & Writing Intermediate ...,2021-10-04,Admin Assistant,2025-04-24 00:00:00,NaN,Part Time,Individual,107,PayNow,2996
110,2101-111/003,F,Y,NaN,NaN,,19/06/1999,Diploma,"Diploma in Mechatronic Engineering, Nee Ann Po...",2020-12-24,HR Manager,2025-04-24 00:00:00,NaN,Part Time,Sponsored,107,PayNow,2696
111,2101-111/004,F,Y,NaN,NaN,,28/09/2010,Certificate,"Higher Nitec in Hospitality Operations, ITE",2021-09-24,Admin Executive,2025-04-24 00:00:00,NaN,Part Time,Individual,107,PayNow,2996
112,2101-111/005,F,Y,NaN,NaN,NaN,19/10/1990,Certificate,O' level,2010-07-24,Admin Executive,2025-04-24 00:00:00,NaN,Part Time,Individual - waived App Fee,Waived,Waived,2596
113,2101-111/006,F,Y,NaN,NaN,,10/04/1999,Certificate,Higher Nitec in Business Studies (Service Mana...,2012-04-24,Admin Assistant,2025-04-24 00:00:00,NaN,Part Time,Sponsored,107,PayNow,2696
114,2101-111/007,F,Y,NaN,NaN,,24/05/2000,Certificate,O' levels,2020-04-24,Secretary,2025-04-24 00:00:00,NaN,Part Time,Individual,107,PayNow,2996
115,2101-111/008,F,Y,NaN,NaN,,12/04/2001,Certificate,O' levels,2022-05-24,Executive,2025-04-24 00:00:00,NaN,Part Time,Individual,107,PayNow,2996
300,5113-009/001,F,NaN,NaN,Y,India,14/11/1985,Degree,Bachelor of Arts in Business with Logistics an...,2019-08-04,Program Coordinator,2025-04-14 00:00:00,NaN,Part-Time,Individual,107,Nets,5803
301,5113-009/002,F,Y,NaN,NaN,NaN,28/01/1993,Degree,Bachelor of Business (Business Administration)...,2020-10-04,"Assistant Director, Business Development",2025-04-14 00:00:00,NaN,Part-Time,Individual,107,Nets,5803
302,5113-009/003,F,Y,NaN,NaN,NaN,06/03/1995,Degree,Bachelor of Science in Hotel Administration (H...,2019-06-08,HR Manager,2025-04-14 00:00:00,NaN,Part-Time,Individual,107,Nets,5803
303,5113-009/004,M,NaN,Y,NaN,Philippines,09/02/1995,Degree,Bachelor of Science in Accounting and Finance ...,2020-08-05,Finance Manager,2025-04-14 00:00:00,NaN,Part-Time,Individual,107,Nets,5803
304,5113-009/005,F,Y,NaN,NaN,NaN,01/10/1993,Degree,Bachelor of Commerce (Accounting and Finance)/...,2019-11-05,"Head, Admin",2025-04-14 00:00:00,NaN,Part-Time,Individual,107,Nets,5803
305,5113-009/006,F,NaN,Y,NaN,Indonesia,30/09/1996,Degree,Bachelor of Economics (Accounting)/\nUniversit...,2018-05-05,Accountant,2025-04-14 00:00:00,NaN,Part-Time,Individual,107,Nets,5803
306,5113-009/007,F,Y,NaN,NaN,NaN,06/11/1996,Degree,"Degree of Computer Science, National Universit...",2021-04-20,Software Consultant,2025-04-14 00:00:00,NaN,Part-Time,Individual,107,Nets,5803

Students that are included in `student_profile dataset` but not in semester_results are those who haven't finish a single semester or haven't been graded.

#### Gender
---

In [15]:
# Check unique values in the 'GENDER' column
unique_genders = student_profiles['GENDER'].value_counts().reset_index()
unique_genders.columns = ['Gender', 'Count']
print("Unique values in 'GENDER' column:")
display(unique_genders)

Unique values in 'GENDER' column:

  Gender  Count
0      F    265
1      M     40

From looking at the unique values, it seemed to be clean.

#### SG CITIZEN, SG PR & FOREIGNER
---

In [16]:
import pandas as pd
import numpy as np

# Load the student_profiles DataFrame
student_profiles = pd.read_excel("https://github.com/swamhtetg90/DAVI-CA2/blob/main/DAVI%20CA2%20datasets%20and%20meta%20data/Student%20Profiles.xlsx?raw=true")

# Replace empty strings with NaN in the specified columns
cols_to_check = ['SG CITIZEN', 'SG PR', 'FOREIGNER']
for col in cols_to_check:
    student_profiles[col] = student_profiles[col].replace(r'^\s*$', np.nan, regex=True)

# Check if there is only one non-null value among 'SG CITIZEN', 'SG PR', and 'FOREIGNER' for each row
student_profiles['Residential_Status_Check'] = (student_profiles[['SG CITIZEN', 'SG PR', 'FOREIGNER']].notna().sum(axis=1) == 1)

# Print rows where the condition is False (i.e., not exactly one non-null value)
mismatched_residential_status = student_profiles[student_profiles['Residential_Status_Check'] == False]

if mismatched_residential_status.empty:
    print("Each student has exactly one residential status specified.")
else:
    print("The following rows have more or less than one residential status specified:")
    display(mismatched_residential_status[['STUDENT ID', 'SG CITIZEN', 'SG PR', 'FOREIGNER', 'Residential_Status_Check']])

# Drop the temporary check column
student_profiles = student_profiles.drop(columns=['Residential_Status_Check'])

Each student has exactly one residential status specified.

Therefore, we can combine these 3 columns into 1 columnn called "Residential Status".

#### Nationality
---

In [17]:
# Count non-null unique values
unique_nationalities = student_profiles['COUNTRY OF OTHER NATIONALITY'].value_counts(dropna=False).reset_index()
unique_nationalities.columns = ['Nationality', 'Count']

# Separate null count from the rest
null_count = unique_nationalities[unique_nationalities['Nationality'].isna()]['Count'].values[0] if unique_nationalities['Nationality'].isna().any() else 0

# Drop the NaN row to show only actual nationalities in the list
non_null_nationalities = unique_nationalities[unique_nationalities['Nationality'].notna()].copy()

# Display summary
print("Unique non-null values in 'COUNTRY OF OTHER NATIONALITY' column:")
display(non_null_nationalities)

print(f"\nNumber of null (missing) values: {null_count}")
print(f"Total number of records: {len(student_profiles)}")

Unique non-null values in 'COUNTRY OF OTHER NATIONALITY' column:

    Nationality  Count
1                   88
2      Malaysia     27
3         China     14
4         India     12
5   Philippines      8
6       Myanmar      3
7   Netherlands      1
8     Malaysian      1
9       Vietnam      1
10    Indonesia      1

Number of null (missing) values: 151
Total number of records: 307

Based on the meta data given, it is said that for SG citizens, it will show blank (null values) in this column, so we need to check whether number of null values match number of 'Y' in SG CITIZEN column.

In [18]:
# Count occurrences including NaN (null) values
sg_citizen_counts = student_profiles['SG CITIZEN'].value_counts(dropna=False).reset_index()

# Rename columns for clarity
sg_citizen_counts.columns = ['SG CITIZEN Value', 'Count']

# Display the counts
print("Count of each value in the 'SG CITIZEN' column (including nulls):")
display(sg_citizen_counts)

Count of each value in the 'SG CITIZEN' column (including nulls):

  SG CITIZEN Value  Count
0                Y    224
1              NaN     68
2              Yes     15

Based on the results, you can see that if it is blank in "COUNTRY OF OTHER NATIONALITY", the Nationality is Singapore

#### DOB (Date of Birth)
---

In [19]:
# Check for missing values in the 'DOB' column
missing_dob = student_profiles['DOB'].isnull().sum()
print(f"Number of missing values in 'DOB': {missing_dob}")

# Attempt to convert 'DOB' to datetime, coercing errors
student_profiles['DOB_datetime'] = pd.to_datetime(student_profiles['DOB'], errors='coerce', format='%d/%m/%Y')

# Check for values that couldn't be parsed (will be NaT - Not a Time)
invalid_dob = student_profiles[student_profiles['DOB_datetime'].isna() & student_profiles['DOB'].notna()]

print("\nRows with invalid 'DOB' values:")
display(invalid_dob[['STUDENT ID', 'DOB', 'DOB_datetime']])

# Drop the temporary datetime column
student_profiles = student_profiles.drop(columns=['DOB_datetime'])

Number of missing values in 'DOB': 0

Rows with invalid 'DOB' values:

        STUDENT ID          DOB DOB_datetime
105   2101-110/006  13-Feb-1984          NaT
106   2101-110/007  13-Jul-1987          NaT
107   2101-110/008  15-Jul-1994          NaT
184  2102-067A/011   16-07-1991          NaT

From looking at values that cannot be chnged to datetime, it shows that month column is in its short abbreviation form instead of number.

So, we will have to convert it.

#### Highest Qualification
----

In [20]:
# Check unique values in the 'HIGHEST QUALIFICATION' column
unique_qualifications = student_profiles['HIGHEST QUALIFICATION'].value_counts().reset_index()
unique_qualifications.columns = ['Highest Qualification', 'Count']
print("Unique values in 'HIGHEST QUALIFICATION' column:")
display(unique_qualifications)

Unique values in 'HIGHEST QUALIFICATION' column:

  Highest Qualification  Count
0                Degree    137
1           Certificate     87
2               Diploma     71
3                Master     11
4                            1

In [21]:
# Check for rows where 'HIGHEST QUALIFICATION' is null or empty
null_qualification_rows = student_profiles[student_profiles['HIGHEST QUALIFICATION'].isnull() | (student_profiles['HIGHEST QUALIFICATION'] == ' ') | (student_profiles['HIGHEST QUALIFICATION'] == '')]

print("Rows with null or empty 'HIGHEST QUALIFICATION':")
display(null_qualification_rows)

Rows with null or empty 'HIGHEST QUALIFICATION':

,STUDENT ID,GENDER,SG CITIZEN,SG PR,FOREIGNER,COUNTRY OF OTHER NATIONALITY,DOB,HIGHEST QUALIFICATION,NAME OF QUALIFICATION AND INSTITUTION,DATE ATTAINED HIGHEST QUALIFICATION,DESIGNATION,COMMENCEMENT DATE,COMPLETION DATE,FULL-TIME OR PART-TIME,COURSE FUNDING,REGISTRATION FEE,PAYMENT MODE,COURSE FEE
128,2102-063/013,F,NaN,NaN,Y,Vietnam,24/07/1989,,,2016-06-06,Accounts Executive,2022-04-18 00:00:00,2022-09-14 00:00:00,Part-Time,Individual,107,Nets,888

Since only 1 row have got null values for  Highest Qualification, we will drop it.

#### Name of Qualification and Institution
---

## This is not done yet need to fix (try to find course instead of highest qualification)

In [22]:
# Split 'NAME OF QUALIFICATION AND INSTITUTION' into 'QUALIFICATION_NAME' and 'INSTITUTION_NAME'
# Use regex to split on either comma or slash
student_profiles[['QUALIFICATION_NAME', 'INSTITUTION_NAME']] = student_profiles['NAME OF QUALIFICATION AND INSTITUTION'].str.split(r',|/', n=1, expand=True)

# Display the new columns and the original column to verify
display(student_profiles[['NAME OF QUALIFICATION AND INSTITUTION', 'QUALIFICATION_NAME', 'INSTITUTION_NAME']])

,NAME OF QUALIFICATION AND INSTITUTION,QUALIFICATION_NAME,INSTITUTION_NAME
0,SPM,SPM,None
1,"Certificate in Office Skills, ITE",Certificate in Office Skills,ITE
2,"Bachelor of Business Administration, Universit...",Bachelor of Business Administration,"University of Rajasthan, India"
3,"Office Management Diploma, NCOI Rotterdam, The...",Office Management Diploma,"NCOI Rotterdam, The Netherlands"
4,"Diploma in Business Admininstration, LCCI Leve...",Diploma in Business Admininstration,"LCCI Level 3, Private Secretary's Diploma, LCCI"
...,...,...,...
302,Bachelor of Science in Hotel Administration (H...,Bachelor of Science in Hotel Administration (H...,"\nUniversity of Nevada, Las Vegas"
303,Bachelor of Science in Accounting and Finance ...,Bachelor of Science in Accounting and Finance ...,\nUniversity of London
304,Bachelor of Commerce (Accounting and Finance)/...,Bachelor of Commerce (Accounting and Finance),\nCurtin University of Technology
305,Bachelor of Economics (Accounting)/\nUniversit...,Bachelor of Economics (Accounting),\nUniversitas Katolik Indonesia
306,"Degree of Computer Science, National Universit...",Degree of Computer Science,National University of Singapore

In [23]:
# Check unique values in the 'QUALIFICATION_NAME' column
unique_qualification_names = student_profiles['QUALIFICATION_NAME'].value_counts().reset_index()
unique_qualification_names.columns = ['Qualification Name', 'Count']
print("Unique values in 'QUALIFICATION_NAME' column:")
display(unique_qualification_names) # Displaying head as there might be many unique values

# Check unique values in the 'INSTITUTION_NAME' column
unique_institution_names = student_profiles['INSTITUTION_NAME'].value_counts().reset_index()
unique_institution_names.columns = ['Institution Name', 'Count']
print("\nUnique values in 'INSTITUTION_NAME' column:")
display(unique_institution_names) # Displaying head as there might be many unique values

Unique values in 'QUALIFICATION_NAME' column:

                                    Qualification Name  Count
0                                                  SPM     15
1                                             O' level     15
2                   Diploma in Business Administration      7
3                  Bachelor of Business Administration      6
4                                            O' levels      6
..                                                 ...    ...
171                   Bachelor of Business (Marketing)      1
172  Bachelor of Commerce in Management and Marketi...      1
173                       Bachelor of Arts (Sociology)      1
174                      Bachelor of Arts with Honours      1
175                         Degree of Computer Science      1

[176 rows x 2 columns]

Unique values in 'INSTITUTION_NAME' column:

                          Institution Name  Count
0                                      ITE     13
1       \nNational University of Singapore     12
2                     \nMurdoch University      8
3                              PSB Academy      6
4                    Singapore Polytechnic      6
..                                     ...    ...
129                  \nUniversity of Delhi      1
130                 \nUniversity of Malaya      1
131    \nNational Technological University      1
132                  \nNanyang Polytechnic      1
133  \nQueensland University of Technology      1

[134 rows x 2 columns]

#### DATE ATTAINED HIGHEST QUALIFICATION
----

In [24]:
# Convert 'DATE ATTAINED HIGHEST QUALIFICATION' to datetime objects
student_profiles['DATE ATTAINED HIGHEST QUALIFICATION'] = pd.to_datetime(student_profiles['DATE ATTAINED HIGHEST QUALIFICATION'], errors='coerce')

# Convert 'COMMENCEMENT DATE' to datetime objects
student_profiles['COMMENCEMENT DATE'] = pd.to_datetime(student_profiles['COMMENCEMENT DATE'], errors='coerce')


# Check for unrealistic dates: Date attained should be after DOB and likely before or around COMMENCEMENT DATE
unrealistic_qualification_dates = student_profiles[
    (student_profiles['DATE ATTAINED HIGHEST QUALIFICATION'].notna()) &
    (
        (student_profiles['DATE ATTAINED HIGHEST QUALIFICATION'] < student_profiles['DOB']) |
        (student_profiles['DATE ATTAINED HIGHEST QUALIFICATION'] > student_profiles['COMMENCEMENT DATE']) # Assuming qualification is attained before or around course start
    )
]

print("Rows with potentially unrealistic 'DATE ATTAINED HIGHEST QUALIFICATION':")
display(unrealistic_qualification_dates[['STUDENT ID', 'DOB', 'DATE ATTAINED HIGHEST QUALIFICATION', 'COMMENCEMENT DATE']])

# Check for missing values after conversion
missing_qualification_dates = student_profiles['DATE ATTAINED HIGHEST QUALIFICATION'].isna().sum()
print(f"\nNumber of missing values in 'DATE ATTAINED HIGHEST QUALIFICATION' after conversion: {missing_qualification_dates}")

Rows with potentially unrealistic 'DATE ATTAINED HIGHEST QUALIFICATION':

Empty DataFrame
Columns: [STUDENT ID, DOB, DATE ATTAINED HIGHEST QUALIFICATION, COMMENCEMENT DATE]
Index: []

Number of missing values in 'DATE ATTAINED HIGHEST QUALIFICATION' after conversion: 0

In [25]:
# Convert 'DOB' to datetime objects, coercing errors
student_profiles['DOB'] = pd.to_datetime(student_profiles['DOB'], errors='coerce', format='%d/%m/%Y')

# Convert 'DATE ATTAINED HIGHEST QUALIFICATION' to datetime, if not already
student_profiles['DATE ATTAINED HIGHEST QUALIFICATION'] = pd.to_datetime(
    student_profiles['DATE ATTAINED HIGHEST QUALIFICATION'], errors='coerce', format='%d/%m/%Y')

# Calculate age in years at time of qualification
student_profiles['QUALIFICATION_AGE_YEARS'] = (
    (student_profiles['DATE ATTAINED HIGHEST QUALIFICATION'] - student_profiles['DOB']).dt.days / 365.25
).round(1)

# Sort the DataFrame by calculated age in ascending order
sorted_qualification_age = student_profiles.sort_values(by='QUALIFICATION_AGE_YEARS', ascending=True)

print("Age in years at the time of attaining highest qualification (sorted ascending):")
display(sorted_qualification_age[['STUDENT ID', 'DOB', 'NAME OF QUALIFICATION AND INSTITUTION', 'DATE ATTAINED HIGHEST QUALIFICATION', 'QUALIFICATION_AGE_YEARS']])

Age in years at the time of attaining highest qualification (sorted ascending):

,STUDENT ID,DOB,NAME OF QUALIFICATION AND INSTITUTION,DATE ATTAINED HIGHEST QUALIFICATION,QUALIFICATION_AGE_YEARS
111,2101-111/004,2010-09-28,"Higher Nitec in Hospitality Operations, ITE",2021-09-24,11.0
33,1101-012/001,1988-12-04,"Nitec in Service Skills (Office), ITE",2001-11-06,12.9
113,2101-111/006,1999-04-10,Higher Nitec in Business Studies (Service Mana...,2012-04-24,13.0
8,1101-009/009,1983-11-30,N' Level,2000-05-07,16.4
12,1101-010/002,1973-04-20,O' level,1990-02-09,16.8
...,...,...,...,...,...
195,2102-069/001,1961-04-01,"O level, Private Secretary Certificate, LCCI",2019-02-28,57.9
105,2101-110/006,NaT,Bachelor of Commerce (Management and Marketing...,2007-05-16,NaN
106,2101-110/007,NaT,"Bachelor of Science in Business, SUSS",2010-01-16,NaN
107,2101-110/008,NaT,"Diploma in Integrated Events Management, Repub...",2018-09-16,NaN
184,2102-067A/011,NaT,"Bachelor of Science (Nursing), Curtin Universi...",2019-02-22,NaN

From looking at this data, I realized that it is impossible for some of these students to have these qualification. Therefore, we will be dropping them.
`[ 111, 33, 113, 38, 267]`

#### Designation
---

In [26]:
# Check unique values and their counts in the 'DESIGNATION' column
designation_counts = student_profiles['DESIGNATION'].value_counts().reset_index()
designation_counts.columns = ['Designation', 'Count']

print("Unique values and counts in 'DESIGNATION' column:")
# Display top 50 designations if there are many unique values
if len(designation_counts) > 50:
    display(designation_counts.head(50))
    print(f"\n... and {len(designation_counts) - 50} more unique designations.")
else:
    display(designation_counts)

Unique values and counts in 'DESIGNATION' column:

                                 Designation  Count
0                                          -     35
1                            Admin Assistant     14
2                               HR Executive     13
3                            Admin Executive      8
4                                    Manager      8
5                                 HR Manager      8
6                                  Secretary      6
7                               HR Assistant      6
8             Business Development Executive      4
9                        Senior HR Executive      4
10                        Accounts Executive      3
11                          HR Administrator      3
12                            Senior Manager      3
13                                      N.A.      3
14                             Admin Manager      3
15                          Admin Supervisor      3
16                                 Executive      3
17                             Admin Officer      3
18                             Administrator      3
19                              IT Developer      3
20                       Marketing Executive      2
21                  Human Resource Assistant      2
22                                Accountant      2
23                                Consultant      2
24                        HR & Admin Officer      2
25                Senior Recruitment Manager      2
26                          Snr HR Executive      2
27                      Admin & HR Assistant      2
28                       Executive Assistant      2
29            Early Childhood Support Office      2
30                          Senior Executive      2
31                 Executive, Administration      2
32                                     Clerk      2
33                                HR & Admin      2
34                 Admin & Finance Executive      2
35                       Operation Executive      2
36                             HR Specialist      2
37                           Audit Associate      2
38                    Recruitment Consultant      2
39                                   Teacher      2
40                  Assistant Vice-President      2
41                                  Lecturer      2
42                                Admin Lead      2
43            Human Resource & Admin Manager      2
44                  Human Resource Executive      2
45                  Administrative Executive      2
46                                HR Officer      2
47  Senior Assistant (Tenant Administration)      1
48                            Office Manager      1
49               HR Support / Office Manager      1

... and 114 more unique designations.

In [27]:
from collections import Counter
import re

# Combine all designations into a single string, handling potential NaNs
all_designations = ' '.join(student_profiles['DESIGNATION'].dropna().astype(str).str.lower())

# Split the string into words, using regex to find word characters
words = re.findall(r'\b\w+\b', all_designations)

# Count the frequency of each word
word_counts = Counter(words)

# Convert to a DataFrame for easier display
word_counts_df = pd.DataFrame.from_dict(word_counts, orient='index', columns=['Count']).reset_index()
word_counts_df = word_counts_df.rename(columns={'index': 'Word'})

# Sort by count in descending order
word_counts_df = word_counts_df.sort_values(by='Count', ascending=False)

print("Count of each word in 'DESIGNATION' column:")
display(word_counts_df.head(50)) # Displaying the top 50 most frequent words

Count of each word in 'DESIGNATION' column:

               Word  Count
6         executive     81
1                hr     65
0             admin     57
5           manager     47
2         assistant     41
19           senior     21
16            human     14
21          officer     14
17         resource     11
8     administrator      9
14         business      9
25        associate      9
3           support      7
29              snr      7
15      development      6
57       specialist      6
18        secretary      6
69          payroll      6
4            office      5
31         accounts      5
63       consultant      5
24        marketing      5
7    administration      4
33        developer      4
9           finance      4
26           client      4
27         services      4
68             lead      4
90      recruitment      4
81       supervisor      4
72      coordinator      4
87       operations      4
93             head      4
43   administrative      3
51          service      3
64             vice      3
10        operation      3
32         software      3
39         division      3
73       accountant      3
76          analyst      3
98                a      3
55             team      3
65        president      3
125              it      3
97                n      3
99         director      3
13        childhood      2
12            early      2
56             apac      2

In [28]:
# Function to categorize designations based on keywords
def categorize_designation(designation):
    if pd.isna(designation) or designation.strip() in ['', '-', 'N.A.']:
        return 'Unknown'
    designation = str(designation).lower()
    if 'manager' in designation:
        return 'Manager'
    elif 'executive' in designation:
        return 'Executive'
    elif 'assistant' in designation:
        return 'Assistant'
    elif 'officer' in designation:
        return 'Officer'
    elif 'specialist' in designation:
        return 'Specialist'
    elif 'consultant' in designation:
        return 'Consultant'
    elif 'coordinator' in designation:
        return 'Coordinator'
    elif 'head' in designation:
        return 'Head'
    elif 'director' in designation:
        return 'Director'
    elif 'analyst' in designation:
        return 'Analyst'
    elif 'administrator' in designation:
        return 'Administrator'
    elif 'clerk' in designation:
        return 'Clerk'
    elif 'teacher' in designation or 'lecturer' in designation:
        return 'Educator'
    elif 'audit' in designation:
        return 'Audit'
    elif 'finance' in designation or 'accountant' in designation:
        return 'Finance/Accounting'
    elif 'marketing' in designation or 'business development' in designation:
        return 'Marketing/BD'
    elif 'recruitment' in designation or 'hr' in designation or 'human resource' in designation:
        return 'HR/Recruitment'
    elif 'it' in designation or 'developer' in designation:
        return 'IT/Tech'
    elif 'operation' in designation:
        return 'Operations'
    # Add more categories as needed
    else:
        return 'Other'

# Apply the categorization function
student_profiles['DESIGNATION_CATEGORY'] = student_profiles['DESIGNATION'].apply(categorize_designation)

# Check the counts of the new categories
designation_category_counts = student_profiles['DESIGNATION_CATEGORY'].value_counts().reset_index()
designation_category_counts.columns = ['Designation Category', 'Count']
print("\nCounts of Designation Categories:")
display(designation_category_counts)

Counts of Designation Categories:

   Designation Category  Count
0             Executive     81
1               Manager     47
2               Unknown     38
3                 Other     36
4             Assistant     32
5               Officer     14
6         Administrator      9
7        HR/Recruitment      9
8               IT/Tech      7
9            Specialist      6
10           Consultant      5
11             Educator      4
12          Coordinator      4
13                 Head      4
14              Analyst      3
15   Finance/Accounting      3
16                Clerk      2
17                Audit      2
18             Director      1

#### Commence Date & Completion Date
---

In [29]:
# Convert 'COMMENCEMENT DATE' and 'COMPLETION DATE' to datetime objects
student_profiles['COMMENCEMENT DATE'] = pd.to_datetime(student_profiles['COMMENCEMENT DATE'], errors='coerce')
student_profiles['COMPLETION DATE'] = pd.to_datetime(student_profiles['COMPLETION DATE'], errors='coerce')

# Add 'COURSE_COMPLETED' column
student_profiles['COURSE_COMPLETED'] = student_profiles['COMPLETION DATE'].notna()

# Display the relevant columns to verify
display(student_profiles[['STUDENT ID', 'COMMENCEMENT DATE', 'COMPLETION DATE', 'COURSE_COMPLETED']])

       STUDENT ID COMMENCEMENT DATE COMPLETION DATE  COURSE_COMPLETED
0    1101-009/001        2022-04-18      2023-09-17              True
1    1101-009/002        2022-04-18      2023-09-17              True
2    1101-009/003        2022-04-18      2023-09-17              True
3    1101-009/004        2022-04-18      2023-09-17              True
4    1101-009/005        2022-04-18      2023-09-17              True
..            ...               ...             ...               ...
302  5113-009/003        2025-04-14             NaT             False
303  5113-009/004        2025-04-14             NaT             False
304  5113-009/005        2025-04-14             NaT             False
305  5113-009/006        2025-04-14             NaT             False
306  5113-009/007        2025-04-14             NaT             False

[307 rows x 4 columns]

In [30]:
# Check rows where 'COMPLETION DATE' is null (NaT)
missing_completion_date_rows = student_profiles[student_profiles['COMPLETION DATE'].isna()]

print("Rows with null 'COMPLETION DATE':")
display(missing_completion_date_rows)

Rows with null 'COMPLETION DATE':

,STUDENT ID,GENDER,SG CITIZEN,SG PR,FOREIGNER,COUNTRY OF OTHER NATIONALITY,DOB,HIGHEST QUALIFICATION,NAME OF QUALIFICATION AND INSTITUTION,DATE ATTAINED HIGHEST QUALIFICATION,...,FULL-TIME OR PART-TIME,COURSE FUNDING,REGISTRATION FEE,PAYMENT MODE,COURSE FEE,QUALIFICATION_NAME,INSTITUTION_NAME,QUALIFICATION_AGE_YEARS,DESIGNATION_CATEGORY,COURSE_COMPLETED
5,1101-009/006,F,NaN,Y,NaN,Malaysia,1968-10-17,Certificate,"Lower Secondary Education, Malaysia",1995-05-07,...,Part-Time,Individual - SFC,107,GIRO,3636,Lower Secondary Education,Malaysia,26.6,Administrator,False
30,1101-011/008,F,Y,NaN,NaN,NaN,1993-12-05,Diploma,"Diploma in Environmental Science, Republic Pol...",2016-11-06,...,Part-Time,Individual,107,GIRO,5136,Diploma in Environmental Science,Republic Polytechnic,22.9,Executive,False
108,2101-111/001,F,NaN,Y,NaN,Malaysian,1995-07-08,Degree,"Bachelor of Science (HRD), Universiti Teknolog...",2020-04-04,...,Part Time,Indivodual,107,PayNow,2996,Bachelor of Science (HRD),Universiti Teknologi Malaysia,24.7,Manager,False
109,2101-111/002,F,Y,NaN,NaN,NaN,1997-09-08,Certificate,Certificate in Grammar & Writing Intermediate ...,2021-10-04,...,Part Time,Individual,107,PayNow,2996,Certificate in Grammar & Writing Intermediate ...,Ascend Education Centre,24.1,Assistant,False
110,2101-111/003,F,Y,NaN,NaN,,1999-06-19,Diploma,"Diploma in Mechatronic Engineering, Nee Ann Po...",2020-12-24,...,Part Time,Sponsored,107,PayNow,2696,Diploma in Mechatronic Engineering,Nee Ann Polytechnic,21.5,Manager,False
111,2101-111/004,F,Y,NaN,NaN,,2010-09-28,Certificate,"Higher Nitec in Hospitality Operations, ITE",2021-09-24,...,Part Time,Individual,107,PayNow,2996,Higher Nitec in Hospitality Operations,ITE,11.0,Executive,False
112,2101-111/005,F,Y,NaN,NaN,NaN,1990-10-19,Certificate,O' level,2010-07-24,...,Part Time,Individual - waived App Fee,Waived,Waived,2596,O' level,None,19.8,Executive,False
113,2101-111/006,F,Y,NaN,NaN,,1999-04-10,Certificate,Higher Nitec in Business Studies (Service Mana...,2012-04-24,...,Part Time,Sponsored,107,PayNow,2696,Higher Nitec in Business Studies (Service Mana...,ITE,13.0,Assistant,False
114,2101-111/007,F,Y,NaN,NaN,,2000-05-24,Certificate,O' levels,2020-04-24,...,Part Time,Individual,107,PayNow,2996,O' levels,None,19.9,Other,False
115,2101-111/008,F,Y,NaN,NaN,,2001-04-12,Certificate,O' levels,2022-05-24,...,Part Time,Individual,107,PayNow,2996,O' levels,None,21.1,Executive,False
144,2102-064/013,F,NaN,NaN,Y,Philippines,1973-10-13,Degree,"Bachelor of Business Administration, St Paul C...",2018-01-22,...,Part-Time,Individual,107,Nets,1388,Bachelor of Business Administration,"St Paul College of Dumaguete City, Philippines",44.3,Executive,False
204,2102-069/010,M,Y,NaN,NaN,,1987-09-13,Degree,"Bachelor of Arts and Social Science, NUS",2018-01-23,...,Part-Time,Individual - SFC,107,Nets,888,Bachelor of Arts and Social Science,NUS,30.4,Officer,False
266,5113-005/005,F,Y,NaN,NaN,NaN,1973-10-01,Degree,Bachelor of Commerce (Accounting and Finance)/...,2017-11-05,...,Part-Time,Individual,107,Nets,5803,Bachelor of Commerce (Accounting and Finance),\nCurtin University of Technology,44.1,Head,False
300,5113-009/001,F,NaN,NaN,Y,India,1985-11-14,Degree,Bachelor of Arts in Business with Logistics an...,2019-08-04,...,Part-Time,Individual,107,Nets,5803,Bachelor of Arts in Business with Logistics an...,\nUniversity of Northumbria at Newscastle,33.7,Coordinator,False
301,5113-009/002,F,Y,NaN,NaN,NaN,1993-01-28,Degree,Bachelor of Business (Business Administration)...,2020-10-04,...,Part-Time,Individual,107,Nets,5803,Bachelor of Business (Business Administration)...,\nRoyal Melbourne Institute of Technology,27.7,Assistant,False
302,5113-009/003,F,Y,NaN,NaN,NaN,1995-03-06,Degree,Bachelor of Science in Hotel Administration (H...,2019-06-08,...,Part-Time,Individual,107,Nets,5803,Bachelor of Science in Hotel Administration (H...,"\nUniversity of Nevada, Las Vegas",24.3,Manager,False
303,5113-009/004,M,NaN,Y,NaN,Philippines,1995-02-09,Degree,Bachelor of Science in Accounting and Finance ...,2020-08-05,...,Part-Time,Individual,107,Nets,5803,Bachelor of Science in Accounting and Finance ...,\nUniversity of London,25.5,Manager,False
304,5113-009/005,F,Y,NaN,NaN,NaN,1993-10-01,Degree,Bachelor of Commerce (Accounting and Finance)/...,2019-11-05,...,Part-Time,Individual,107,Nets,5803,Bachelor of Commerce (Accounting and Finance),\nCurtin University of Technology,26.1,Head,False
305,5113-009/006,F,NaN,Y,NaN,Indonesia,1996-09-30,Degree,Bachelor of Economics (Accounting)/\nUniversit...,2018-05-05,...,Part-Time,Individual,107,Nets,5803,Bachelor of Economics (Accounting),\nUniversitas Katolik Indonesia,21.6,Finance/Accounting,False
306,5113-009/007,F,Y,NaN,NaN,NaN,1996-11-06,Degree,"Degree of Computer Science, National Universit...",2021-04-20,...,Part-Time,Individual,107,Nets,5803,Degree of Computer Science,National University of Singapore,24.5,Consultant,False

In [31]:
# Find rows with invalid commencement dates (NaT after conversion)
invalid_commencement_dates_rows = student_profiles[student_profiles['COMMENCEMENT DATE'].isna()]

# Get the student IDs from rows with invalid commencement dates
student_ids_with_invalid_commencement = invalid_commencement_dates_rows['STUDENT ID']

# Check which of these student IDs exist in the semester_results DataFrame
students_in_semester_results_bool = student_ids_with_invalid_commencement.isin(semester_results['STUDENT ID'])

# Count students with invalid commencement dates who are in semester_results
count_in_semester_results = students_in_semester_results_bool.sum()

# Count students with invalid commencement dates who are not in semester_results
count_not_in_semester_results = (~students_in_semester_results_bool).sum()

print(f"Number of students with invalid commencement dates found in semester_results: {count_in_semester_results}")
print(f"Number of students with invalid commencement dates not found in semester_results: {count_not_in_semester_results}")

# Display the rows from semester_results for students with invalid commencement dates (as done before)
students_in_semester_results_df = semester_results[semester_results['STUDENT ID'].isin(student_ids_with_invalid_commencement)]
print("\nRows from semester_results for students with invalid commencement dates:")
display(students_in_semester_results_df)

Number of students with invalid commencement dates found in semester_results: 5
Number of students with invalid commencement dates not found in semester_results: 0

Rows from semester_results for students with invalid commencement dates:

       STUDENT ID PERIOD  GPA
15   1101-009/006  Sem 1  2.1
16   1101-009/006  Sem 2  2.2
17   1101-009/006  Sem 3  2.3
174  5113-005/005  Sem 1  3.1
175  5113-005/005  Sem 2  3.5
201  1101-011/008  Sem 1  3.3
202  1101-011/008  Sem 2  3.8
203  1101-011/008  Sem 3  3.4
346  2102-064/013   Sem1  3.6
496  2102-069/010  Sem 1  3.5
508  2102-069/010  Sem 1  3.5

From looking at this, i can insert the commence date and and completion date based on rows that have the same `COURSE_ID` and `INTAKE_NO`

#### FULL-TIME OR PART-TIME
----

In [32]:
# Check unique values in the 'FULL-TIME OR PART-TIME' column
unique_course_type = student_profiles['FULL-TIME OR PART-TIME'].value_counts().reset_index()
unique_course_type.columns = ['Course Type', 'Count']
print("Unique values in 'FULL-TIME OR PART-TIME' column:")
display(unique_course_type)

Unique values in 'FULL-TIME OR PART-TIME' column:

  Course Type  Count
0   Part-Time    237
1   Full-Time     41
2   Part Time     29

Based on the count, I believe we can combine `Part-Time` and `Part Time` together by changing ` ` to `-`

## Data Cleaning
---

### Data Cleaning Steps for Student Profile

#### 1. Student ID Decomposition

* Split `STUDENT_ID` into three new columns:

  * `COURSE_ID`
  * `INTAKE_NO`
  * `INDEX_NO`
* Format: `<COURSE_ID>-<INTAKE_NO>/<INDEX_NO>`

#### 2. Remove Unmatched Semester Results

* Remove entries from `semester_results` if the student does not exist in the `student profile` table.

#### 3. Gender

* Clean - Have 2 unique values ('M' and 'F')

#### 4. Residential Status

* Combine `SG CITIZEN`, `SG PR`, and `FOREIGNER` into a single column: `RESIDENTIAL_STATUS`.

  * Logic: Only one of the three columns contains "Y"; others are null.
  * New values: `Singapore Citizen`, `PR`, or `Foreigner`.

#### 5. Nationality

* Rename `COUNTRY OF OTHER NATIONALITY` to `NATIONALITY`.
* Standardize values:
  * Correct spelling errors (e.g., `Malaysian` → `Malaysia`)
* Replace null or blank values with: `Singapore`.

#### 6. Date of Birth (`DOB`)

* Not in datetime format
* Some rows are in short abbreviation for month instead of numbers
* Remove rows where `DOB` is null

#### 7. Highest Qualification

* Drop rows where value is `" "`

#### 8. Name of Qualification and Institution

* Split `NAME OF QUALIFICATION AND INSTITUTION` into two parts:

  * `QUALIFICATION_NAME` (text before the first `,` or `/`)
  * `INSTITUTION_NAME` (text after the first `,` or `/`)

#### 9. Date Attained Highest Qualification

* Check if the date is realistic compared to `DOB` and `COMMENCE DATE`
* Remove these rows `[ 111, 33, 113, 38, 267]`
  * These shows students which doesn't meet the requirement's age for their Qualification.

#### 10. Designation

* Key-Word Mapping to reduce unique values

#### 11. Commence Date & Completion Date

* Convert to datetime format
* Insert blank values by looking at `COURSE_NO` & `INTAKE_NO`

#### 12. Full-time or Part-time

* Standardize values:
  * Correct spelling errors (e.g., `Full Time` → `Full-Time`).

#### 13. Course Funding Type

* Standardize values to one of the following:

  * `Individual`
  * `Individual - SFC (SkillsFuture Credit)`
  * `Sponsored`
  * `Individual - Waived App Fee`
* Check for spelling errors and inconsistencies.

#### 14. Registration Fee

* Remove `$` symbol.
* Convert to float with 2 decimal places.

#### 15. Payment Mode

* Standardize text and check for spelling mistakes.

#### 16. Course Fee

* Remove `$` symbol.
* Convert to float with 2 decimal places.

---

In [33]:
# 1. Student ID Decomposition
student_profiles[['COURSE_ID', 'INTAKE_NO_INDEX']] = student_profiles['STUDENT ID'].str.split('-', n=1, expand=True)
student_profiles[['INTAKE_NO', 'INDEX_NO']] = student_profiles['INTAKE_NO_INDEX'].str.split('/', n=1, expand=True)
student_profiles = student_profiles.drop(columns=['INTAKE_NO_INDEX'])

print("Student ID decomposed:")
display(student_profiles[['STUDENT ID', 'COURSE_ID', 'INTAKE_NO', 'INDEX_NO']].head())

Student ID decomposed:

     STUDENT ID COURSE_ID INTAKE_NO INDEX_NO
0  1101-009/001      1101       009      001
1  1101-009/002      1101       009      002
2  1101-009/003      1101       009      003
3  1101-009/004      1101       009      004
4  1101-009/005      1101       009      005

In [34]:
# 2. Remove Unmatched Semester Results
# Get the set of student IDs from student_profiles
student_profiles_ids = set(student_profiles['STUDENT ID'].dropna().unique())

# Filter semester_results to keep only rows where the student ID is in student_profiles
semester_results_cleaned = semester_results[semester_results['STUDENT ID'].isin(student_profiles_ids)].copy()

print("Semester results after removing unmatched student IDs:")
display(semester_results_cleaned.head())
print(f"\nNumber of rows before removal: {len(semester_results)}")
print(f"Number of rows after removal: {len(semester_results_cleaned)}")

# Update the semester_results DataFrame
semester_results = semester_results_cleaned

Semester results after removing unmatched student IDs:

     STUDENT ID PERIOD  GPA
0  1101-009/001  Sem 1  3.5
1  1101-009/001  Sem 2  3.6
2  1101-009/001  Sem 3  3.7
3  1101-009/002  Sem 1  3.4
4  1101-009/002  Sem 2  3.5

Number of rows before removal: 555
Number of rows after removal: 538

In [35]:
# 4. Residential Status
# Define a function to determine residential status
def get_residential_status(row):
    if row['SG CITIZEN'] == 'Y':
        return 'Singapore Citizen'
    elif row['SG PR'] == 'Y':
        return 'PR'
    elif row['FOREIGNER'] == 'Y':
        return 'Foreigner'
    else:
        return None # Should not happen based on previous check, but good practice

# Apply the function to create the new 'RESIDENTIAL_STATUS' column
student_profiles['RESIDENTIAL_STATUS'] = student_profiles.apply(get_residential_status, axis=1)

# Drop the original columns
student_profiles = student_profiles.drop(columns=['SG CITIZEN', 'SG PR', 'FOREIGNER'])

print("Residential Status column created and original columns dropped:")
display(student_profiles[['STUDENT ID', 'RESIDENTIAL_STATUS']].head())

Residential Status column created and original columns dropped:

     STUDENT ID RESIDENTIAL_STATUS
0  1101-009/001          Foreigner
1  1101-009/002  Singapore Citizen
2  1101-009/003          Foreigner
3  1101-009/004          Foreigner
4  1101-009/005  Singapore Citizen

In [36]:
# 5. Nationality
# Rename the column
student_profiles = student_profiles.rename(columns={'COUNTRY OF OTHER NATIONALITY': 'NATIONALITY'})

# Standardize values (correcting 'Malaysian' to 'Malaysia')
student_profiles['NATIONALITY'] = student_profiles['NATIONALITY'].replace('Malaysian', 'Malaysia')

# Replace null or blank values with 'Singapore'
student_profiles['NATIONALITY'] = student_profiles['NATIONALITY'].replace(r'^\s*$', 'Singapore', regex=True) # Handle blank strings
student_profiles['NATIONALITY'] = student_profiles['NATIONALITY'].fillna('Singapore') # Handle actual NaN values

print("Nationality column cleaned:")
display(student_profiles[['STUDENT ID', 'NATIONALITY']].head())

# Verify the changes
print("\nUnique values in 'NATIONALITY' after cleaning:")
display(student_profiles['NATIONALITY'].value_counts().reset_index())

Nationality column cleaned:

     STUDENT ID  NATIONALITY
0  1101-009/001     Malaysia
1  1101-009/002    Singapore
2  1101-009/003        India
3  1101-009/004  Netherlands
4  1101-009/005    Singapore

Unique values in 'NATIONALITY' after cleaning:

   NATIONALITY  count
0    Singapore    239
1     Malaysia     28
2        China     14
3        India     12
4  Philippines      8
5      Myanmar      3
6  Netherlands      1
7      Vietnam      1
8    Indonesia      1

In [37]:
# 6. Date of Birth (DOB)
# Convert 'DOB' to datetime, trying multiple formats and coercing errors
student_profiles['DOB'] = pd.to_datetime(student_profiles['DOB'], errors='coerce', dayfirst=True)

# Remove rows where 'DOB' is null (NaT)
student_profiles_cleaned = student_profiles.dropna(subset=['DOB']).copy()

print("\nRows with invalid 'DOB' values removed.")
print(f"Number of rows before dropping: {len(student_profiles)}")
print(f"Number of rows after dropping: {len(student_profiles_cleaned)}")

# Update the student_profiles DataFrame
student_profiles = student_profiles_cleaned

# Check for values that couldn't be parsed (should be empty now)
invalid_dob_after_drop = student_profiles[student_profiles['DOB'].isna()]

print("\nRows with invalid 'DOB' values after dropping (should be empty):")
display(invalid_dob_after_drop[['STUDENT ID', 'DOB']])

Rows with invalid 'DOB' values removed.
Number of rows before dropping: 307
Number of rows after dropping: 303

Rows with invalid 'DOB' values after dropping (should be empty):

Empty DataFrame
Columns: [STUDENT ID, DOB]
Index: []

In [38]:
# 7. Highest Qualification
# Drop rows where 'HIGHEST QUALIFICATION' is a blank string
student_profiles_cleaned = student_profiles[student_profiles['HIGHEST QUALIFICATION'].str.strip() != ''].copy()

print("Student profiles after dropping rows with blank 'Highest Qualification':")
display(student_profiles_cleaned.head())

print(f"\nNumber of rows before dropping: {len(student_profiles)}")
print(f"Number of rows after dropping: {len(student_profiles_cleaned)}")

# Update the student_profiles DataFrame
student_profiles = student_profiles_cleaned

Student profiles after dropping rows with blank 'Highest Qualification':

,STUDENT ID,GENDER,NATIONALITY,DOB,HIGHEST QUALIFICATION,NAME OF QUALIFICATION AND INSTITUTION,DATE ATTAINED HIGHEST QUALIFICATION,DESIGNATION,COMMENCEMENT DATE,COMPLETION DATE,...,COURSE FEE,QUALIFICATION_NAME,INSTITUTION_NAME,QUALIFICATION_AGE_YEARS,DESIGNATION_CATEGORY,COURSE_COMPLETED,COURSE_ID,INTAKE_NO,INDEX_NO,RESIDENTIAL_STATUS
0,1101-009/001,F,Malaysia,1981-09-13,Certificate,SPM,2018-01-08,Admin & HR Assistant,2022-04-18,2023-09-17,...,5136,SPM,None,36.3,Assistant,True,1101,009,001,Foreigner
1,1101-009/002,F,Singapore,1979-07-26,Certificate,"Certificate in Office Skills, ITE",2016-06-08,Admin Assistant,2022-04-18,2023-09-17,...,5136,Certificate in Office Skills,ITE,36.9,Assistant,True,1101,009,002,Singapore Citizen
2,1101-009/003,F,India,1990-02-01,Degree,"Bachelor of Business Administration, Universit...",2015-08-08,-,2022-04-18,2023-09-17,...,5136,Bachelor of Business Administration,"University of Rajasthan, India",25.5,Unknown,True,1101,009,003,Foreigner
3,1101-009/004,F,Netherlands,1976-04-20,Diploma,"Office Management Diploma, NCOI Rotterdam, The...",2018-02-08,HR Support / Office Manager,2022-04-18,2023-09-17,...,5136,Office Management Diploma,"NCOI Rotterdam, The Netherlands",41.8,Manager,True,1101,009,004,Foreigner
4,1101-009/005,F,Singapore,1983-11-25,Diploma,"Diploma in Business Admininstration, LCCI Leve...",2015-06-08,"Executive, Administration",2022-04-18,2023-09-17,...,4812,Diploma in Business Admininstration,"LCCI Level 3, Private Secretary's Diploma, LCCI",31.5,Executive,True,1101,009,005,Singapore Citizen

Number of rows before dropping: 303
Number of rows after dropping: 302

In [39]:
# 9. Date Attained Highest Qualification
# Drop rows with the identified unrealistic qualification ages based on index
rows_to_drop = [111, 33, 113, 38, 267]
student_profiles_cleaned = student_profiles.drop(index=rows_to_drop, errors='ignore').copy()

print(f"Number of rows before dropping: {len(student_profiles)}")
print(f"Number of rows after dropping: {len(student_profiles_cleaned)}")

# Update the student_profiles DataFrame
student_profiles = student_profiles_cleaned

print("\nStudent profiles after dropping rows with unrealistic qualification ages:")
display(student_profiles.head())

Number of rows before dropping: 302
Number of rows after dropping: 297

Student profiles after dropping rows with unrealistic qualification ages:

,STUDENT ID,GENDER,NATIONALITY,DOB,HIGHEST QUALIFICATION,NAME OF QUALIFICATION AND INSTITUTION,DATE ATTAINED HIGHEST QUALIFICATION,DESIGNATION,COMMENCEMENT DATE,COMPLETION DATE,...,COURSE FEE,QUALIFICATION_NAME,INSTITUTION_NAME,QUALIFICATION_AGE_YEARS,DESIGNATION_CATEGORY,COURSE_COMPLETED,COURSE_ID,INTAKE_NO,INDEX_NO,RESIDENTIAL_STATUS
0,1101-009/001,F,Malaysia,1981-09-13,Certificate,SPM,2018-01-08,Admin & HR Assistant,2022-04-18,2023-09-17,...,5136,SPM,None,36.3,Assistant,True,1101,009,001,Foreigner
1,1101-009/002,F,Singapore,1979-07-26,Certificate,"Certificate in Office Skills, ITE",2016-06-08,Admin Assistant,2022-04-18,2023-09-17,...,5136,Certificate in Office Skills,ITE,36.9,Assistant,True,1101,009,002,Singapore Citizen
2,1101-009/003,F,India,1990-02-01,Degree,"Bachelor of Business Administration, Universit...",2015-08-08,-,2022-04-18,2023-09-17,...,5136,Bachelor of Business Administration,"University of Rajasthan, India",25.5,Unknown,True,1101,009,003,Foreigner
3,1101-009/004,F,Netherlands,1976-04-20,Diploma,"Office Management Diploma, NCOI Rotterdam, The...",2018-02-08,HR Support / Office Manager,2022-04-18,2023-09-17,...,5136,Office Management Diploma,"NCOI Rotterdam, The Netherlands",41.8,Manager,True,1101,009,004,Foreigner
4,1101-009/005,F,Singapore,1983-11-25,Diploma,"Diploma in Business Admininstration, LCCI Leve...",2015-06-08,"Executive, Administration",2022-04-18,2023-09-17,...,4812,Diploma in Business Admininstration,"LCCI Level 3, Private Secretary's Diploma, LCCI",31.5,Executive,True,1101,009,005,Singapore Citizen

In [40]:
# 11. Commence Date & Completion Date - Insert blank values by looking at COURSE_ID & INTAKE_NO

# Combine COURSE_ID and INTAKE_NO to create a unique intake identifier
student_profiles['INTAKE_IDENTIFIER'] = student_profiles['COURSE_ID'].astype(str) + '-' + student_profiles['INTAKE_NO'].astype(str)

# Calculate initial missing values
missing_commencement_before = student_profiles['COMMENCEMENT DATE'].isna().sum()
missing_completion_before = student_profiles['COMPLETION DATE'].isna().sum()

# Function to fill missing dates within each intake group
def fill_missing_dates(group):
    # Fill missing COMMENCEMENT DATE with the most frequent date in the group
    if group['COMMENCEMENT DATE'].isnull().any():
        most_frequent_commencement = group['COMMENCEMENT DATE'].mode()
        if not most_frequent_commencement.empty:
            group['COMMENCEMENT DATE'] = group['COMMENCEMENT DATE'].fillna(most_frequent_commencement[0])

    # Fill missing COMPLETION DATE with the most frequent date in the group
    if group['COMPLETION DATE'].isnull().any():
        most_frequent_completion = group['COMPLETION DATE'].mode()
        if not most_frequent_completion.empty:
            group['COMPLETION DATE'] = group['COMPLETION DATE'].fillna(most_frequent_completion[0])

    return group

# Apply the filling function to each intake group
student_profiles_filled_dates = student_profiles.groupby('INTAKE_IDENTIFIER').apply(fill_missing_dates)

# Drop the temporary intake identifier column
student_profiles_filled_dates = student_profiles_filled_dates.drop(columns=['INTAKE_IDENTIFIER'])

print("Student profiles after attempting to fill missing commencement and completion dates:")
display(student_profiles_filled_dates[['STUDENT ID', 'COMMENCEMENT DATE', 'COMPLETION DATE']].head())

# Calculate remaining missing values
missing_commencement_after_fill = student_profiles_filled_dates['COMMENCEMENT DATE'].isna().sum()
missing_completion_after_fill = student_profiles_filled_dates['COMPLETION DATE'].isna().sum()

# Calculate number of filled values
filled_commencement = missing_commencement_before - missing_commencement_after_fill
filled_completion = missing_completion_before - missing_completion_after_fill


print(f"\nNumber of missing 'COMMENCEMENT DATE' before filling: {missing_commencement_before}")
print(f"Number of missing 'COMMENCEMENT DATE' after filling: {missing_commencement_after_fill}")
print(f"Number of 'COMMENCEMENT DATE' values filled: {filled_commencement}")

print(f"\nNumber of missing 'COMPLETION DATE' before filling: {missing_completion_before}")
print(f"Number of missing 'COMPLETION DATE' after filling: {missing_completion_after_fill}")
print(f"Number of 'COMPLETION DATE' values filled: {filled_completion}")


# Update the student_profiles DataFrame
student_profiles = student_profiles_filled_dates

Student profiles after attempting to fill missing commencement and completion dates:

/tmp/ipython-input-40-3806197264.py:27: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  student_profiles_filled_dates = student_profiles.groupby('INTAKE_IDENTIFIER').apply(fill_missing_dates)

                       STUDENT ID COMMENCEMENT DATE COMPLETION DATE
INTAKE_IDENTIFIER
1101-009          0  1101-009/001        2022-04-18      2023-09-17
                  1  1101-009/002        2022-04-18      2023-09-17
                  2  1101-009/003        2022-04-18      2023-09-17
                  3  1101-009/004        2022-04-18      2023-09-17
                  4  1101-009/005        2022-04-18      2023-09-17

Number of missing 'COMMENCEMENT DATE' before filling: 5
Number of missing 'COMMENCEMENT DATE' after filling: 0
Number of 'COMMENCEMENT DATE' values filled: 5

Number of missing 'COMPLETION DATE' before filling: 18
Number of missing 'COMPLETION DATE' after filling: 13
Number of 'COMPLETION DATE' values filled: 5