# DAVI Data Cleaning
## Group-10
## Group Member: Devendran Yoheswaran, Kaung Myat San, Swam Htet Aung
---

## Meta Data
---
### Student Profiles

> **Note:** Data is manually entered, so the values are not standardized.

| **Field Name**                            | **Description**                                                                                                                          | **Example**                |
| ----------------------------------------- | ---------------------------------------------------------------------------------------------------------------------------------------- | -------------------------- |
| **STUDENT ID**                            | Student ID is made up of three attributes: `<Course code>-<Intake No>/<Index Number of student in the intake>`                           | `1101-013/001`             |
| **GENDER**                                | Gender                                                                                                                                   | `M`, `F`                   |
| **SG CITIZEN**                            | Singapore Citizen                                                                                                                        | `Y` or blank               |
| **SG PR**                                 | Singapore Permanent Resident                                                                                                             | `Y` or blank               |
| **FOREIGNER**                             | Neither SG Citizen nor SG PR (mutually exclusive with SG CITIZEN and SG PR)                                                              | `Y` or blank               |
| **COUNTRY OF OTHER NATIONALITY**          | Country of nationality (only for SG PR or foreigner)                                                                                     | `Malaysia`, `India`, etc.  |
| **DOB**                                   | Date of Birth. Format: `DD/MM/YYYY`                                                                                                      | `04/03/1978`               |
| **HIGHEST QUALIFICATION**                 | Highest qualification attained prior to this course                                                                                      | `Certificate`, `Diploma`   |
| **NAME OF QUALIFICATION AND INSTITUTION** | Institute where the highest qualification was attained                                                                                   | As provided by participant |
| **DATE ATTAINED HIGHEST QUALIFICATION**   | Date when the qualification was awarded. Format: `DD/MM/YYYY`                                                                            | `06/11/2016`               |
| **DESIGNATION**                           | Job designation                                                                                                                          | As provided by participant |
| **COMMENCEMENT DATE**                     | Course start date. Format: `DD/MM/YYYY`                                                                                                  | `06/01/2023`               |
| **COMPLETION DATE**                       | Course end date. Blank if course is ongoing. Format: `DD/MM/YYYY`                                                                        | `06/04/2024`               |
| **FULL-TIME OR PART-TIME**                | Whether the course is Full-time or Part-time                                                                                             | `Full-Time`, `Part-Time`   |
| **COURSE FUNDING**                        | Course funding type:<br>- `Individual`<br>- `Individual - SFC` (SkillsFuture Credit)<br>- `Sponsored`<br>- `Individual - waived App Fee` | `Individual - SFC`         |
| **REGISTRATION FEE**                      | Registration fee in SGD                                                                                                                  | As entered                 |
| **PAYMENT MODE**                          | Mode of payment                                                                                                                          | `NETS`, `Giro`, `PayNow`   |
| **COURSE FEE**                            | Course fee in SGD                                                                                                                        | As entered                 |

---

### Course Codes

| **S/N**         | **Description**        | **Example**                          |
| --------------- | ---------------------- | ------------------------------------ |
| **CODE**        | Course code (4 digits) | `1101`                               |
| **COURSE NAME** | Course name            | `Diploma in Business Administration` |

---

### Semester Results

| **S/N**        | **Description**                                                                                                           | **Example**    |
| -------------- | ------------------------------------------------------------------------------------------------------------------------- | -------------- |
| **STUDENT ID** | Must match the ID in the Student Profile dataset                                                                          | `1101-013/001` |
| **PERIOD**     | Semester number<br>• Certificate: 1 semester<br>• Diploma: 3 semesters<br>• Master’s: 2 semesters (some exceptions apply) | `1`, `2`, `3`  |
| **GPA**        | GPA for the semester.<br>• Max GPA: 4<br>• Pass GPA: Certificate/Diploma = 2, Master's = 2.3                              | `3.2`          |

---

## Importing Modules
---

In [ ]:
import pandas as pd
import numpy as np

## Loading Data
---

#### Course_Code Data

In [ ]:
course_code = pd.read_excel("https://github.com/swamhtetg90/DAVI-CA2/blob/main/DAVI%20CA2%20datasets%20and%20meta%20data/Course%20Codes.xlsx?raw=true")
course_code.head()

   CODE                         COURSE NAME
0  1101  Diploma in Business Administration
1  1102       Diploma in Business Analytics
2  2101    Certificate in Digital Marketing
3  2102        Certificate in HR Management
4  2013   Certificate in Tourism Management

#### Semester Results Data

In [ ]:
semester_results = pd.read_excel("https://github.com/swamhtetg90/DAVI-CA2/blob/main/DAVI%20CA2%20datasets%20and%20meta%20data/Semester%20Results.xlsx?raw=true")
semester_results.head()

     STUDENT ID PERIOD  GPA
0  1101-009/001  Sem 1  3.5
1  1101-009/001  Sem 2  3.6
2  1101-009/001  Sem 3  3.7
3  1101-009/002  Sem 1  3.4
4  1101-009/002  Sem 2  3.5

#### Student Profiles Data

In [ ]:
student_profiles = pd.read_excel("https://github.com/swamhtetg90/DAVI-CA2/blob/main/DAVI%20CA2%20datasets%20and%20meta%20data/Student%20Profiles.xlsx?raw=true")
student_profiles.head()

,STUDENT ID,GENDER,SG CITIZEN,SG PR,FOREIGNER,COUNTRY OF OTHER NATIONALITY,DOB,HIGHEST QUALIFICATION,NAME OF QUALIFICATION AND INSTITUTION,DATE ATTAINED HIGHEST QUALIFICATION,DESIGNATION,COMMENCEMENT DATE,COMPLETION DATE,FULL-TIME OR PART-TIME,COURSE FUNDING,REGISTRATION FEE,PAYMENT MODE,COURSE FEE
0,1101-009/001,F,,NaN,Y,Malaysia,13/09/1981,Certificate,SPM,2018-01-08,Admin & HR Assistant,2022-04-18 00:00:00,2023-09-17 00:00:00,Part-Time,Individual,107,GIRO,5136
1,1101-009/002,F,Y,NaN,NaN,NaN,26/07/1979,Certificate,"Certificate in Office Skills, ITE",2016-06-08,Admin Assistant,2022-04-18 00:00:00,2023-09-17 00:00:00,Part-Time,Individual-SFC,107,NETS,5136
2,1101-009/003,F,,NaN,Y,India,01/02/1990,Degree,"Bachelor of Business Administration, Universit...",2015-08-08,-,2022-04-18 00:00:00,2023-09-17 00:00:00,Part-Time,Individual,107,NETS,5136
3,1101-009/004,F,,NaN,Y,Netherlands,20/04/1976,Diploma,"Office Management Diploma, NCOI Rotterdam, The...",2018-02-08,HR Support / Office Manager,2022-04-18 00:00:00,2023-09-17 00:00:00,Part-Time,Individual,107,NETS,5136
4,1101-009/005,F,Y,NaN,NaN,NaN,25/11/1983,Diploma,"Diploma in Business Admininstration, LCCI Leve...",2015-06-08,"Executive, Administration",2022-04-18 00:00:00,2023-09-17 00:00:00,Part-Time,Sponsored,107,GIRO,4812

## Data Analysis
---

#### Course Code

In [ ]:
course_code.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CODE         7 non-null      int64
 1   COURSE NAME  7 non-null      object
dtypes: int64(1), object(1)
memory usage: 244.0+ bytes

In [ ]:
course_code.head(10)

   CODE                                        COURSE NAME
0  1101                 Diploma in Business Administration
1  1102                      Diploma in Business Analytics
2  2101                   Certificate in Digital Marketing
3  2102                       Certificate in HR Management
4  2013                  Certificate in Tourism Management
5  5112  Specialist Diploma in Business Innovation and ...
6  5113          Specialist Diploma in Intelligent Systems

### Course Code DataFrame Summary

- The **`Course Code` DataFrame** contains **no null values**.
- It has a total of **7 rows**.
- The data appears to be **cleaned and ready for use**.

#### Student Profile

In [ ]:
import pandas as pd

# Step 1: Get unique student IDs from each DataFrame
ids_profiles = set(student_profiles['STUDENT ID'].dropna().unique())
ids_results = set(semester_results['STUDENT ID'].dropna().unique())

# Step 2: Compare sets
if ids_profiles == ids_results:
    print("STUDENT ID columns match exactly in both datasets.")
else:
    print("Mismatch found between STUDENT ID columns.")

    # Extra: Show differences
    only_in_profiles = ids_profiles - ids_results
    only_in_results = ids_results - ids_profiles

    if only_in_profiles:
        print("Student IDs only in student_profiles:")
        print(only_in_profiles)

    if only_in_results:
        print("Student IDs only in semester_results:")
        print(only_in_results)

Mismatch found between STUDENT ID columns.
Student IDs only in student_profiles:
{'2101-111/004', '5113-009/004', '2101-111/006', '2101-111/007', '5113-009/002', '5113-009/003', '5113-009/006', '5113-009/005', '2101-111/001', '5113-009/007', '2101-111/003', '5113-009/001', '2101-111/008', '2101-111/002', '2101-111/005'}
Student IDs only in semester_results:
{'5112-007/003', '2101-106/001', '5112-007/004', '5112-007/005', '5112-007/001', '2101-106/005', '2101-106/004', '5112-007/002', '2101-106/003', '5112-007/006', '2101-106/002'}

In [ ]:
# Get sets of Student IDs
ids_profiles = set(student_profiles['STUDENT ID'].dropna().unique())
ids_results = set(semester_results['STUDENT ID'].dropna().unique())

# Find mismatched IDs (present in semester_results but not in student_profiles)
only_in_results = ids_results - ids_profiles

# Filter and print those rows from semester_results
mismatched_rows = semester_results[semester_results['STUDENT ID'].isin(only_in_results)]

print("❌ Mismatched rows from semester_results:")
print(mismatched_rows)

❌ Mismatched rows from semester_results:
       STUDENT ID PERIOD  GPA
116  2101-106/001  Sem 1  2.4
117  2101-106/002  Sem 1  3.1
118  2101-106/003  Sem 1  3.4
119  2101-106/004  Sem 1  2.8
120  2101-106/005  Sem 1  2.3
130  5112-007/001  Sem 1  2.9
131  5112-007/001  Sem 2  3.8
132  5112-007/002  Sem 1  3.2
133  5112-007/002  Sem 2  3.3
134  5112-007/003  Sem 1  3.6
135  5112-007/003  Sem 2  3.7
136  5112-007/004  Sem 1  3.5
137  5112-007/004  Sem 2  2.6
138  5112-007/005  Sem 1  2.1
139  5112-007/005  Sem 2  2.3
140  5112-007/006  Sem 1  3.2
141  5112-007/006  Sem 2  3.1

In [ ]:
import pandas as pd

# Extract all unique prefixes from semester_results
prefixes = set(semester_results['STUDENT ID'].str.extract(r'^(\d{4}-\d{3})')[0])

# Filter student_profiles to include only rows whose STUDENT ID starts with one of the prefixes
matched_profiles = student_profiles[
    student_profiles['STUDENT ID'].str.extract(r'^(\d{4}-\d{3})')[0].isin(prefixes)
]

# Display result
print("✅ Matched student profiles (by prefix only):")
print(matched_profiles)

✅ Matched student profiles (by prefix only):
       STUDENT ID GENDER SG CITIZEN SG PR FOREIGNER  \
0    1101-009/001      F              NaN         Y
1    1101-009/002      F          Y   NaN       NaN
2    1101-009/003      F              NaN         Y
3    1101-009/004      F              NaN         Y
4    1101-009/005      F          Y   NaN       NaN
..            ...    ...        ...   ...       ...
295  5113-008/003      F          Y   NaN       NaN
296  5113-008/004      F          Y   NaN       NaN
297  5113-008/005      F          Y   NaN       NaN
298  5113-008/006      F          Y   NaN       NaN
299  5113-008/007      F        NaN   NaN         Y

    COUNTRY OF OTHER NATIONALITY         DOB HIGHEST QUALIFICATION  \
0                       Malaysia  13/09/1981           Certificate
1                            NaN  26/07/1979           Certificate
2                          India  01/02/1990                Degree
3                    Netherlands  20/04/1976               Diploma
4                            NaN  25/11/1983               Diploma
..                           ...         ...                   ...
295                          NaN  18/11/1991                Degree
296                          NaN  29/04/1974                Degree
297                          NaN  19/10/1981                Degree
298                          NaN  19/03/1971                Degree
299                        China  28/11/1998                Degree

                 NAME OF QUALIFICATION AND INSTITUTION  \
0                                                  SPM
1                    Certificate in Office Skills, ITE
2    Bachelor of Business Administration, Universit...
3    Office Management Diploma, NCOI Rotterdam, The...
4    Diploma in Business Admininstration, LCCI Leve...
..                                                 ...
295  Bachelor of Business (Marketing)/\nRMIT Univer...
296  Bachelor of Commerce in Management and Marketi...
297  Bachelor of Arts in Human Resource Management,...
298  Bachelor of Arts (Sociology)/\nState Universit...
299  Bachelor of Arts with Honours/\nNational Unive...

    DATE ATTAINED HIGHEST QUALIFICATION                   DESIGNATION  \
0                            2018-01-08          Admin & HR Assistant
1                            2016-06-08               Admin Assistant
2                            2015-08-08                             -
3                            2018-02-08   HR Support / Office Manager
4                            2015-06-08     Executive, Administration
..                                  ...                           ...
295                          2017-03-21            Regional Recruiter
296                          2017-02-28        Confidential Assistant
297                          2018-01-30  Journey Management Team Lead
298                          1995-05-30   Academy Program Coordinator
299                          2019-11-30          Management Associate

       COMMENCEMENT DATE      COMPLETION DATE FULL-TIME OR PART-TIME  \
0    2022-04-18 00:00:00  2023-09-17 00:00:00              Part-Time
1    2022-04-18 00:00:00  2023-09-17 00:00:00              Part-Time
2    2022-04-18 00:00:00  2023-09-17 00:00:00              Part-Time
3    2022-04-18 00:00:00  2023-09-17 00:00:00              Part-Time
4    2022-04-18 00:00:00  2023-09-17 00:00:00              Part-Time
..                   ...                  ...                    ...
295  2024-04-08 00:00:00  2025-03-18 00:00:00              Part-Time
296  2024-04-08 00:00:00  2025-03-18 00:00:00              Part-Time
297  2024-04-08 00:00:00  2025-03-18 00:00:00              Part-Time
298  2024-04-08 00:00:00  2025-03-18 00:00:00              Part-Time
299  2024-04-08 00:00:00  2025-03-18 00:00:00              Part-Time

     COURSE FUNDING REGISTRATION FEE PAYMENT MODE  COURSE FEE  \
0        Individual              107         GIRO        5136
1    Individual-SFC              107         NETS        5136
2        Individual              107         NETS        5136
3        Individual              107         NETS        5136
4         Sponsored              107         GIRO        4812
..              ...              ...          ...         ...
295      Individual              107         Nets        5803
296      Individual              107         Nets        5803
297      Individual              107         Nets        5803
298      Individual              107         Nets        5803
299      Individual              107         Nets        5803

     Valid_ID_Format    Intake
0               True  1101-009
1               True  1101-009
2               True  1101-009
3               True  1101-009
4               True  1101-009
..               ...       ...
295             True  5113-008
296             True  5113-008
297             True  5113-008
298             True  5113-008
299             True  5113-008

[292 rows x 20 columns]

## Data Cleaning
---

## Exporting Data
---